<!DOCTYPE html>

<head>
  {% include 'head.html' with context %}
  <title>Key4School - Administration</title>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body style="margin-left:2%;">
  {% include 'bandeau2.html' %}
  <br /><br /><br />

  <div class="modal" id="suppression" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Supression</p>
      </header>
      <form onsubmit="supprimer(event); return false;" id="supprForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type="text" name="motif" placeholder="motif" required />
          <input type='hidden' id="idSupprimé" name='idSuppr' value="" />
          <input type='hidden' name="demandeBut" value="Suppr" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">supprimer</button>
          <button onclick="supprimerClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="validation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Validation</p>
      </header>
      <form onsubmit="valider(event); return false;" id="valForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <select name="motif">
            <option value="abusif">Signalement abusif</option>
            <option value="justifie">Justifié</option>
          </select>
          <input type='hidden' id="idValidé" name='idVal' value="" />
          <input type='hidden' name="demandeBut" value="Val" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Valider</button>
          <button onclick="validerClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="suppressionRep" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Supression réponse</p>
      </header>
      <form onsubmit="supprimerRep(event); return false;" id="supprRepForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type="text" name="motif" placeholder="motif" required />
          <input type='hidden' id="idRepSupprimé" name='idSuppr' value="" />
          <input type='hidden' id="idrepDemandSupprimé" name='idDemandSuppr' value="" />
          <input type='hidden' name="demandeBut" value="SupprRep" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">supprimer</button>
          <button onclick="supprimerRepClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="validationRep" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Validation réponse</p>
      </header>
      <form onsubmit="validerRep(event); return false;" id="valRepForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <select name="motif">
            <option value="abusif">Signalement abusif</option>
            <option value="justifie">Justifié</option>
          </select>
          <input type='hidden' id="idRepValidé" name='idVal' value="" />
          <input type='hidden' id="idrepDemandValidé" name='idDemandVal' value="" />
          <input type='hidden' name="demandeBut" value="ValRep" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Valider</button>
          <button onclick="validerRepClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <br />
  <h1 class="title" style="text-align:center;">Administration</h1>
  <br /><br />
  <div style="font-weight: bold; font-size:large;">Publications signalées : </div>
  {%for content in demandeSignale%}
  <div class="boxAdmin" style="border:2px solid {{session['couleur'][1]}};" id='divDemande_{{content['_id']}}'>
    <div>
      <a href="{{url_for('profil' ,idUser=content['idAuteur'])}}">
        {{content['user']['prenom']}} {{content['user']['nom']}} </a> :
        <br />
      <br />
      <a href="{{url_for('comments' ,idMsg=content['_id'])}}"><b>{{content['titre']}}</b></a>
      <br />
      <br />
      {{content['contenu']}}
      <br /><br />
      le : <em>{{content['date-envoi']}}</em><br />
      matière : <b>{{content['matière']}}</b>
    </div>
    <br />

    <ul class="menu-list">
      <li><u>Motif :</u></li>
      <li>
        <ul>
          {%for element in content['motif']%}
          <li>
            {{element['txt']}}
          </li>
          {%endfor%}
        </ul>
      </li>
    </ul>
    {%for element in content['réponses associées']%}
    {%if element['sign']!=[]%}
    <div id="divRep_{{element['_id']}}">
      {{element['contenu']}}
    <button onclick="validationRep('{{element['_id']}}','{{content['_id']}}')" class="button is-success is-outlined">
      <span>Valider</span>
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
    </button>
    <button onclick="suppressionRep('{{element['_id']}}','{{content['_id']}}')" class="button is-danger is-outlined">
      <span>Supprimer</span>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
      {%endif%}
    {%endfor%}

    <br />
    <button onclick="validation('{{content['_id']}}')" class="button is-success is-outlined">
      <span>Valider</span>
      <span class="icon is-small">
        <i class="fas fa-check"></i>
      </span>
    </button>
    <button onclick="suppression('{{content['_id']}}')" class="button is-danger is-outlined">
      <span>Supprimer</span>
      <span class="icon is-small">
        <i class="fas fa-times"></i>
      </span>
    </button>
  </div>
  <br /><br />
  {%endfor%}
  <div style="font-weight: bold; font-size:large;">Utilisteurs signalés :</div><br /><br />
  {%for content in profilSignale%}
  <div class="boxAdmin" style="border:2px solid {{session['couleur'][1]}};">
    <div>
      <a href="{{url_for('profil' ,idUser=content['_id'])}}">
        {{content['nom']}}
      </a>
    </div>
    <ul class="menu-list">
      <li><u>Motif :</u></li>
      <li>
        <ul>
          {%for element in content['motif']%}
          <li>
            {{element['txt']}}
          </li>
          {%endfor%}
        </ul>
      </li>
    </ul>
  </div>
  {%endfor%}
  <div style="font-weight: bold; font-size:large;">Groupes signalés :</div><br /><br />
  {%if discussionSignale != []%}
  <div class="boxAdmin" style="border:2px solid {{session['couleur'][1]}};">

    {%for content in discussionSignale%}
    <a href="{{url_for('page_messages', idGroupe=content['_id'])}}">{{content['nom']}}</a>
    <ul class="menu-list">
      <li><u>Motif :</u></li>
      <li>
        <ul>
          {%for element in content['motif']%}
          <li>
            {{element['txt']}}
          </li>
          {%endfor%}
        </ul>
      </li>
    </ul>
    {%endfor%}
  </div>
  {%endif%}
  <br /><br />
</body>

<!-- <div id='divDemande'>
  <form  method="post"  id="demandeSuppr" onsubmit="supprimer(event, ); return false;">
    <input type='hidden' name="idSuppr" value="" />
    <input type='hidden' name="demandeBut" value="Suppr" />
    <button  type="submit">supprimer</button>
  </form>
  <form  method="post"  id="demandeValider" onsubmit="valider(event, ); return false;">
    <input type='hidden' name="idVal" value="" />
    <input type='hidden' name="demandeBut" value="Val" />
    <button  type="submit">valider</button>
  </form>
</div> -->
