<!DOCTYPE html>
<head>
<script src="{{url_for('static',filename='js/administration.js')}}" type="text/javascript"></script>
</head>
<body>
  yo
  {%for content in demandeSignale%}
    <div id='divDemande{{content['_id']}}'>{{content['contenu']}}
      <form  method="post"  id="demandeSuppr{{content['_id']}}" onsubmit="supprimer(event, {{content['_id']}}); return false;">
        <input type='hidden' name="idSuppr" value="{{content['_id']}}" />
        <input type='hidden' name="demandeBut" value="Suppr" />
        <button  type="submit">supprimer</button>
      </form>
      <form  method="post"  id="demandeValider{{content['_id']}}" onsubmit="valider(event, {{content['_id']}}); return false;">
        <input type='hidden' name="idVal" value="{{content['_id']}}" />
        <input type='hidden' name="demandeBut" value="Val" />
        <button  type="submit">valider</button>
      </form>
    </div>
  {%endfor%}
  <div id="divTest">
      </div>
</body>
