<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
  {% include 'head.html' with context %}
  <title>Profil</title>
  <!-- importation du JS pour afficher et enlever les div -->
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
    @media screen and (max-width:1023px){
      table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
        margin-bottom: 5%;
       }
      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
      }
    }
  </style>
</head>

<body>
  <!-- Bandeau -->
  {% include 'bandeau2.html' %}
  <div class="modal" id="signalisationProfil" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement</p>
      </header>
      <form onsubmit="signalerProfil(event); return false;" id="signalementProfil" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce profil." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idSignalé" name='idSignalé' value="{{profilUtilisateur['_id']}}" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationProfilClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisationProfil" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designalerProfil(event); return false;" id="designalementProfil" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="{{profilUtilisateur['_id']}}" />
          Etes-vous sûr de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Oui</button>
          <button onclick="designalisationProfilClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
    {%if user['admin']==true%}
    <div class="modal" id="sanction" style="overflow:hidden;">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Sanction</p>
        </header>
        <form onsubmit="sanctionner(event); return false;" id="SancForm" method="POST" autocomplete="off">
          <section class="modal-card-body">
            <input type='hidden' id="idSanctionné" name='idSanctionné' value="{{profilUtilisateur['_id']}}" />
            <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Sanctionnez vous ce profil." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <input id='inputSanction' class="input" type="text" placeholder="Quellle sanction mettez vous." autocomplete='off' name="Sanction" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <select name="SanctionType">
              <option value="Spec">Spectateur</option>
              <option value="Aucune" selected>Aucune</option>
              <option value="ResetProfil">Reinitialiser le profil</option>
              <option value="SpecProfil">Figer le profil</option>
              <option value="SpecForum">Spectateur sur uniquement le forum</option>
              <option value="SpecMsg">Spectateur sur uniquement les messages privés</option>
            </select>
            <input id='SanctionDuree' class="input" type="number" placeholder="Durée de la sanction." autocomplete='off' name="SanctionDuree" value="1" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <!-- <select name="SanctionDuree">
              <option value="30">1 mois</option>
              <option value="7">1 semaine</option>
            </select> -->
            <input id='inputNext' class="input" type="text" placeholder="Prochaine Sanction" autocomplete='off' name="Next" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          </section>
          <footer class="modal-card-foot">
            <button type="submit" class="button is-success">Sanctionner</button>
            <button onclick="sanctionnerClose(); return false;" class="button">Annuler</button>
          </footer>
        </form>
      </div>
  </div>
  <div class="modal" id="validationUser" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Validation</p>
      </header>
      <form onsubmit="validerUser(event); return false;" id="ValUserForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idValidé" name='idValidé' value="{{profilUtilisateur['_id']}}" />
          <input type='hidden' name="demandeBut" value="ValUser" />
          <select name="motif">
            <option value="abusif">Signalement abusif</option>
            <option value="justifie">Justifié</option>
          </select>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Valider</button>
          <button onclick="validerUserClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
</div>
  {%endif%}
  <br />
  <br />
  <br />
  <br />
  <!-- Espace photo de profil -->
    <div style="display: flex;align-items: center;justify-content:space-evenly;">
        <img alt="user" src="{%if 'nomImg' in profilUtilisateur and profilUtilisateur['nomImg'] != "" %}{{url_for('userImg', profilImg = profilUtilisateur['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}" style="width:64px;height:64px;object-fit:cover;border-radius:50%;" />
      <div class="ordiFlexTelBlock" style="align-items: center;justify-content:center;">
        <!-- Barre de progression -->
          <progress class="progress is-info" value={{xplvl}} max="100" style="width:250px;">70%</progress>
          &nbsp;&nbsp;&nbsp;&nbsp;
          <p>
            NIV:
            {{niv}}
            XP :
            {{xp}}
          </p>
    </div>
  </div>
  <br /><br /><br />
  <div align="center" style="margin:0% 2%;">
    <!-- Début informations -->
    <div>
      <!-- Informations puliques -->
      <!-- Début tableau informations publiques -->
      {%if profilUtilisateur['admin']== true%}
      <div style="flex-direction: column;align-items: flex-end;">
          <span class="icon is-small ">
            <i class="fas fa-crown" aria-hidden="true" style="color:	hsl(48, 100%, 67%)"></i>
          </span>
          <span style="color:	hsl(48, 100%, 67%)">
             &nbsp; Admin
          </span>
      </div>
      {%endif%}
      <br />
      <table class="table is-narrow">
        <tbody>
          <!-- Nom et prénom -->
          <tr>
            <td>
              <i class="fas fa-user-alt" style="font-size:25px;"></i>
              &nbsp;&nbsp;Nom et Prenom
            </td>
            <td>
              {{profilUtilisateur['nom']}} {{profilUtilisateur['prenom']}}
            </td>
          </tr>
          <!-- Pseudo -->
          <tr>
            <td>
              <i class="far fa-smile-wink" style="font-size:25px;"></i>
              &nbsp;&nbsp;Pseudo
            </td>
            <td>
              <div id="contentpseudo">
                <p id="pseudo">{{profilUtilisateur['pseudo']}}</p>
              </div>
            </td>
          </tr>
          <!-- Lycée et classe -->
          <tr>
            <td>
              <i class="fas fa-graduation-cap" style="font-size:25px;"></i>
              &nbsp;&nbsp;Lycée/Classe
            </td>
            <td>
              {{profilUtilisateur['lycee']}}/{{profilUtilisateur['classe']}}
            </td>
          </tr>
          <!-- Langues -->
          <tr>
            <td>
              <i class="fas fa-globe" style="font-size:25px;"></i>
              &nbsp;&nbsp;Langue(s) vivante(s)
            <td>
              <div id="contentlangues">
                <p id="langues">{{profilUtilisateur['langues']}}{%if profilUtilisateur['langues']==""%}Non-renseigné{%endif%}</p>
              </div>
            </td>
          </tr>
          <!-- Options -->
          <tr>
            <td>
              <i class="fas fa-book" style="font-size:25px;"></i>
              &nbsp;&nbsp;Option(s)
            </td>
            <td>
              <div id="contentoptions">
                <p id="options">
                  {{profilUtilisateur['options']}}{%if profilUtilisateur['options']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          <!-- Spécialités -->
          <tr {% if profilUtilisateur['classe']=='2GT' %} style="display: none;" {% endif %}>
            <td>
              <i class="fas fa-book-open" style="font-size:25px;"></i>
              &nbsp;&nbsp;Spécialités
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{profilUtilisateur['spes']}}{%if profilUtilisateur['spe']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%for element in profilUtilisateur['elementPublic']%}
          {%if element=="caractere"%}
          <tr>
            <td>
              <i class="fas fa-user" style="font-size:25px;"></i>
              &nbsp;&nbsp;Caractère
            </td>
            <td>
              {%if profilUtilisateur['caractere']=="joy"%}Joyeux.se{%endif%}
              {%if profilUtilisateur['caractere']=="tr"%}Triste{%endif%}
              {%if profilUtilisateur['caractere']=="det"%}Déterminé.e{%endif%}
              {%if profilUtilisateur['caractere']=="fat"%}Fatigué.e{%endif%}
              {%if profilUtilisateur['caractere']=="dro"%}Drôle{%endif%}
              {%if profilUtilisateur['caractere']=="ti"%}Timide{%endif%}
              {%if profilUtilisateur['caractere']=="crea"%}Créatif.ve{%endif%}
              {%if profilUtilisateur['caractere']=="ser"%}Sérieux.se{%endif%}
              {%if profilUtilisateur['caractere']=="op"%}Optimiste{%endif%}
              {%if profilUtilisateur['caractere']=="pe"%}Pessimiste{%endif%}
              {%if profilUtilisateur['caractere']=="ro"%}Romantique{%endif%}
            </td>
          </tr>
          {%elif element=="birth_date"%}
          <tr>
            <td>
              <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
              &nbsp;&nbsp;Date de naissance
            </td>
            <td>
              {{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}
            </td>
          </tr>
          {%else%}
          <tr>
            <td>
              <i {%if element=="email"%}class="fas fa-at" {%endif%}{%if element=="telephone"%}class="fas fa-phone-alt" {%endif%}{%if element=="interets"%}class="far fa-smile-beam" {%endif%} style="font-size:25px;"></i>
              &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
            </td>
            <td>
              <div id="content{{element}}">
                <p id="{{element}}">{{profilUtilisateur[element]}}{%if profilUtilisateur[element]==""%}Non-renseigné{%endif%}</p>
              </div>
            </td>
          </tr>
          {%endif%}
          {%endfor%}
        </tbody>
      </table>
      <!-- Fin tableau informations publiques -->
    </div>
    <!-- Fin informations -->
    <br />
    <div class="navbar-item" style="display:block;">
      <button  class="button is-warning is-outlined is-small" onClick="signalisationProfil();">
        <span class="icon is-small">
          {% if a_sign %}
          <i id="signProfil" class="fas fa-flag" aria-hidden="true"></i>
          {% else %}
            <i id="signProfil" class="far fa-flag" aria-hidden="true"></i>
          {% endif %}
        </span>
        <span>Signaler</span>
      </button>
      {%if user['admin']==true%}
      <button  class="button  is-danger is-outlined is-small" onClick="sanction();">
        <span class="icon is-small">
          <i id="sign" class="fas fa-ban" aria-hidden="true"></i>
        </span>
        <span>Sanctionner</span>
      </button>
      {%if profilUtilisateur['sign'] != []%}
      <button  class="button  is-success  is-outlined is-small" onClick="validationUser();">
        <span class="icon is-small">
          <i id="sign" class="fas fa-check" aria-hidden="true"></i>
        </span>
        <span>Valider</span>
      </button>
      <br /><br />
      {%endif%}</div></div>
      <div style="margin-left:2%;">
        {%if profilUtilisateur['SanctionEnCour'] != ""%}
        Sanction en cours : {{profilUtilisateur['SanctionEnCour']}}, jusqu'au {{profilUtilisateur['SanctionDuree']}}
        {%endif%}
        <br />
        {%for element in profilUtilisateur['Sanctions']%}
        <ul class="menu-list" style="margin-left:1%;">
          <li><u>Sanction : {{element['SanctionType']}}</u></li>
          <li>
            <ul>
              <li>Motif : {{element['SanctionMotif']}}</li>
              <li>Prochaine Sanction : {{element['SanctionNext']}}</li>
              <li>{{element['dateSanction']}}</li>
            </ul>
          </li>
        </ul>
        {%endfor%}
    </div>
      {%endif%}
      <input type="hidden" />

  <!-- </div> -->

  </div>
  <!-- fin de la page -->
</body>

</html>
