<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr" data-theme="{{session['theme']}}">

<head>
  {% include 'head.html' with context %}
  <title>Key4School - Profil</title>

  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
    @media screen and (max-width:1023px){
      table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
        margin-bottom: 5%;
       }
      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
      }
    }
  </style>
</head>

<body>

  {% include 'bandeau.html' %}
  <div class="modal" id="signalisationProfil" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement</p>
      </header>
      <form onsubmit="signalerProfil(event); return false;" id="signalementProfil" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce profil." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idSignalé" name='idSignalé' value="{{user['id']}}" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationProfilClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisationProfil" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designalerProfil(event); return false;" id="designalementProfil" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="{{user['id']}}" />
          Etes-vous sûr de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Oui</button>
          <button onclick="designalisationProfilClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
    {%if user['admin']==true%}
    <div class="modal" id="sanction" style="overflow:hidden;">
      <div class="modal-background"></div>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Sanction</p>
        </header>
        <form onsubmit="sanctionner(event); return false;" id="SancForm" method="POST" autocomplete="off">
          <section class="modal-card-body">
            <input type='hidden' id="idSanctionné" name='idSanctionné' value="{{user['id']}}" />
            <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Sanctionnez vous ce profil." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <input id='inputSanction' class="input" type="text" placeholder="Quellle sanction mettez vous." autocomplete='off' name="Sanction" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <select name="SanctionType">
              <option value="Spec">Spectateur</option>
              <option value="Aucune" selected>Aucune</option>
              <option value="ResetProfil">Reinitialiser le profil</option>
              <option value="SpecProfil">Figer le profil</option>
              <option value="SpecForum">Spectateur sur uniquement le forum</option>
              <option value="SpecMsg">Spectateur sur uniquement les messages privés</option>
            </select>
            <input id='SanctionDuree' class="input" type="number" placeholder="Durée de la sanction." autocomplete='off' name="SanctionDuree" value="1" style="width: 75%;margin-left: 2%;padding:5px;"required/>
            <!-- <select name="SanctionDuree">
              <option value="30">1 mois</option>
              <option value="7">1 semaine</option>
            </select> -->
            <input id='inputNext' class="input" type="text" placeholder="Prochaine Sanction" autocomplete='off' name="Next" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          </section>
          <footer class="modal-card-foot">
            <button type="submit" class="button is-success">Sanctionner</button>
            <button onclick="sanctionnerClose(); return false;" class="button">Annuler</button>
          </footer>
        </form>
      </div>
  </div>
  <div class="modal" id="validationUser" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Validation</p>
      </header>
      <form onsubmit="validerUser(event); return false;" id="ValUserForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idValidé" name='idValidé' value="{{user['id']}}" />
          <input type='hidden' name="demandeBut" value="ValUser" />
          <select name="motif">
            <option value="abusif">Signalement abusif</option>
            <option value="justifie">Justifié</option>
          </select>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Valider</button>
          <button onclick="validerUserClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
</div>
  {%endif%}
  <br />
  <br />
  <br />
  <br />

  <div class="container_profile" style="align-items: center;text-align: center;margin:auto;">
    <p style="font-size:1.5rem;">
    </p>
      {%if user['admin']== true%}
      <div style="flex-direction: column;align-items: flex-end;font-size:1.5rem;">
        {{user['pseudo']}}&nbsp;&nbsp;&nbsp;&nbsp;
          <span class="icon is-small ">
            <i class="fas fa-crown" aria-hidden="true" style="color:	hsl(48, 100%, 67%)"></i>
          </span>
          <span style="color:	hsl(48, 100%, 67%)">
             &nbsp; Admin
          </span>
      </div>
      {%else%}
      <p style="font-size:1.5rem;">
        {{user['pseudo']}}
      </p>
      {%endif%}
    <div style="position:relative;">
      <img alt="user" onclick="updateImgOpen();"
        src="{%if 'nomImg' in user and user['nomImg'] != "" %}{{url_for('userImg', profilImg = user['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"
        style="position: relative;margin-top:5%;width:100px; height:100px;object-fit: cover;border-radius:50%; cursor: pointer;" />
      <i class="fas fa-pen" style="font-size: 1.5rem; position: absolute; bottom: 30px; right: 30px; transform: scale(-1, 1); cursor: pointer;" onclick="updateImgOpen();"></i>
    </div>
    <div style="display:flex;align-items: center;justify-content:space-between">
      <p style="font-size:1.125rem;">NIV {{user['niv']}}</p>
      <p style="font-size:1.125rem;">{{xp}} / ???</p>
    </div>
      <progress class="progress is-info" value={{xplvl}} max="100" style="width:100%;margin:auto;margin-top:5%;">70%</progress>
<br />
  </div>
  <div align="center" style="margin:0% 2%;">

    <div>



      <br />
      <table class="table is-narrow">
        <tbody>

          <tr>
            <td>
              <i class="fas fa-user-alt" style="font-size:25px;"></i>
              &nbsp;&nbsp;Nom et Prenom
            </td>
            <td>
              {{user['nom']}} {{user['prenom']}}
            </td>
          </tr>

          <tr>
            <td>
              <i class="far fa-smile-wink" style="font-size:25px;"></i>
              &nbsp;&nbsp;Pseudo
            </td>
            <td>
              <div id="contentpseudo">
                <p id="pseudo">{{user['pseudo']}}</p>
              </div>
            </td>
          </tr>
          <tr>
            <td>
              <i class="fas fa-user-graduate" style="font-size:25px;"></i>
              &nbsp;&nbsp;Statut
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{'ELEVE'}}
                </p>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-graduation-cap" style="font-size:25px;"></i>
              &nbsp;&nbsp;Lycée{%if 'ELEVE' == 'ELEVE'%}/Classe{%endif%}
            </td>
            <td>
              {{user['lycee']}}{%if 'ELEVE' == 'ELEVE'%}/{{user['classe']}}{%endif%}
            </td>
          </tr>
          {%if 'ELEVE' == 'ELEVE'%}

          <tr>
            <td>
              <i class="fas fa-globe" style="font-size:25px;"></i>
              &nbsp;&nbsp;Langue(s) vivante(s)
            <td>
              <div id="contentlangues">
                <p id="langues">{{user['langues-str']}}{%if user['langues-str']==""%}Non-renseigné{%endif%}</p>
              </div>
            </td>
          </tr>

          <tr>
            <td>
              <i class="fas fa-book" style="font-size:25px;"></i>
              &nbsp;&nbsp;Option(s)
            </td>
            <td>
              <div id="contentoptions">
                <p id="options">
                  {{user['options-str']}}{%if user['options-str']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>

          <tr {% if user['classe']=='2nd' %} style="display: none;" {% endif %}>
            <td>
              <i class="fas fa-book-open" style="font-size:25px;"></i>
              &nbsp;&nbsp;Spécialités
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{user['spes-str']}}{%if user['spe']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%elif 'ELEVE' == 'ENSEIGNANT'%}
          <tr>
            <td>
              <i class="fas fa-book" style="font-size:25px;"></i>
              &nbsp;&nbsp;Matière
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{user['matiere-str']}}{%if user['matiere-str']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%if user['matiere_autre']|length != 0%}
          <tr>
            <td>
              <i class="fas fa-book-open" style="font-size:25px;"></i>
              &nbsp;&nbsp;Autre(s) matière(s) enseignée(s)
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{user['matiere_autre-str']}}{%if user['matiere_autre-str']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%endif%}
          {%else%}
          {%if user['matiere_autre']|length != 0%}
          <tr>
            <td>
              <i class="fas fa-book-open" style="font-size:25px;"></i>
              &nbsp;&nbsp;Matière(s)
            </td>
            <td>
              <div id="contentspe">
                <p id="spe">
                  {{user['matiere_autre-str']}}{%if user['matiere_autre-str']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%endif%}
          {%endif%}
          {%for element in user['elementPublic']%}
          {%if element=="birth_date" and user['birth_date'] != None%}
          <tr>
            <td>
              <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
              &nbsp;&nbsp;Date de naissance
            </td>
            <td>
              {{user['birth_date'].day}}/{{user['birth_date'].month}}/{{user['birth_date'].year}}
            </td>
          </tr>
          {%else%}
          <tr>
            <td>
              <i {%if element=="email"%}class="fas fa-at" {%endif%}{%if element=="telephone"%}class="fas fa-phone-alt" {%endif%}{%if element=="interets"%}class="far fa-smile-beam" {%endif%} style="font-size:25px;"></i>
              &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
            </td>
            <td>
              <div id="content{{element}}">
                <p id="{{element}}">{{user[element]}}{%if user[element]==""%}Non-renseigné{%endif%}</p>
              </div>
            </td>
          </tr>
          {%endif%}
          {%endfor%}
        </tbody>
      </table>

    </div>

    <br />
    <div class="navbar-item" style="display:block;">
      <a href="/redirectDM/{{session['id']}}/{{user['id']}}/">
        <button class="button is-link is-outlined is-small">
          <span class="icon is-small">
            <i class="fas fa-comments"></i>
          </span>
          <span>Envoyer un message !</span>
        </button>
      </a>
      <button  class="button is-warning is-outlined is-small" onClick="signalisationProfil();">
        <span class="icon is-small">
          {% if a_sign %}
          <i id="signProfil" class="fas fa-flag" aria-hidden="true"></i>
          {% else %}
            <i id="signProfil" class="far fa-flag" aria-hidden="true"></i>
          {% endif %}
        </span>
        <span>Signaler</span>
      </button>
      {%if user['admin']==true%}
      <button  class="button  is-danger is-outlined is-small" onClick="sanction();">
        <span class="icon is-small">
          <i id="sign" class="fas fa-ban" aria-hidden="true"></i>
        </span>
        <span>Sanctionner</span>
      </button>
      {%if user['sign'] != []%}
      <button  class="button  is-success  is-outlined is-small" onClick="validationUser();">
        <span class="icon is-small">
          <i id="sign" class="fas fa-check" aria-hidden="true"></i>
        </span>
        <span>Valider</span>
      </button>
      <br /><br />
      {%endif%}</div></div>
      <div style="margin-left:2%;">
        {%if user['SanctionEnCour'] != ""%}
        Sanction en cours : {{user['SanctionEnCour']}}, jusqu'au {{user['SanctionDuree']}}
        {%endif%}
        <br />
        {%for element in user['Sanctions']%}
        <ul class="menu-list" style="margin-left:1%;">
          <li><u>Sanction : {{element['SanctionType']}}</u></li>
          <li>
            <ul>
              <li>Motif : {{element['SanctionMotif']}}</li>
              <li>Prochaine Sanction : {{element['SanctionNext']}}</li>
              <li>le {{element['dateSanction'].day}}/{{element['dateSanction'].month}} à {{element['dateSanction'].hour}}h{{element['dateSanction'].minute}}</li>
            </ul>
          </li>
        </ul>
        {%endfor%}
    </div>
      {%endif%}
      <input type="hidden" />



  </div>

</body>

</html>
