<div class="box profil" style="border-radius: 20px; margin-bottom: 0.8rem; width: 100%;">
  <article class="media">
    <div class="media-left">
      <!-- Image photo de profil-->
      <figure class="image is-64x64">
        <img alt="user" src="{%if 'nomImg' in u and u['nomImg'] != "" %}{{url_for('userImg', profilImg = u['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"
          style="width:64px; height:64px;border-radius: 50%;object-fit: cover;" />
      </figure>
    </div>
    <!-- Contenu publication -->
    <div class="media-content">
      <div class="content">
        <p style="margin-bottom: 5px;">
          <!-- Nom utilisateur ; pseudo ; temps -->
        <div style="font-variant: small-caps;">
          <a href="{{url_for('profil' ,idUser=u['_id'])}}">{{u['nom']}} {{u['prenom']}}</a>
        </div>
        <small><em>@{{u['pseudo']}}</em></small>
        </p>
      </div>
    </div>
    {%if user['admin']== true%}
    <div style="flex-direction: column;align-items: flex-end;">
      <div class="navbar-item ">
        <span class="icon is-small ">
          <i class="fas fa-crown" aria-hidden="true" style="color:	hsl(48, 100%, 67%)"></i>
        </span>
        <span style="color:	hsl(48, 100%, 67%)">
           &nbsp; Admin
        </span>
      </div>
    </div>
    {%endif%}
  </article>
</div>
