<div id="apercu2profil{{varApercuProfil['_id']}}" class="box profil elem" style="border-radius: 20px; width: 100%;display:None;position: relative;font-size:13px;
    z-index: 1;">
  <article class="media">
    <div class="media-left">
      <!-- Image photo de profil-->
      <figure class="image is-32x32">
        <img alt="user" src="{%if 'nomImg' in varApercuProfil and varApercuProfil['nomImg'] != "" %}{{url_for('userImg', profilImg = varApercuProfil['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"
          style="width:32px; height:32px;border-radius: 50%;object-fit: cover;" />
      </figure>
    </div>
    <!-- Contenu publication -->
    <div class="media-content">
      <div class="content">
          <!-- Nom utilisateur ; pseudo ; temps -->
        <div style="font-variant: small-caps;">
          <a href="{{url_for('profil' ,idUser=varApercuProfil['_id'])}}">{{varApercuProfil['nom']}} {{varApercuProfil['prenom']}}</a>
        </div>
    <b>XP : </b>{{varApercuProfil['xp']}}<br />
    <b>Classe : </b>{{varApercuProfil['classe']}}/{{varApercuProfil['lycee']}}
    {{varApercuProfil['type']}}
  </div>
</div>
    <div style="flex-direction: column;align-items: flex-end;">
      <div class="navbar-item ">
        {%if varApercuProfil['admin']== true%}
            <span class="icon is-small ">
              <i class="fas fa-crown" aria-hidden="true" style="color:	hsl(48, 100%, 67%)"></i>
            </span>
            <span style="color:	hsl(48, 100%, 67%);margin-bottom: 37%;margin-left: 10%;">
               &nbsp; Admin
            </span>
        {%endif%}
      </div>
    </div>
  </article>
</div>
