<!-- Début barre de navigation -->
<nav class="navbar is-fixed-top" role="navigation" aria-label="dropdown navigation" style="background-color:{{session['couleur']}};padding-bottom:1%;">
  <div id="navbarExampleTransparentExample" class="navbar-menu">
    <!-- Partie gauche de la barre de navigation -->
    <div class="navbar-start">
      <!-- Début menu déroulant -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i style="color: black; font-size:30px;" class="fas fa-bars"></i>
        </a>
        <!-- Pages du menu -->
        <div class="navbar-dropdown is-boxed">
          <!-- Accueil -->
          <a class="navbar-item" href="{{url_for('accueil')}}">
            <i style="color: black; font-size:20px;" class="fas fa-home"></i>
            &nbsp;&nbsp;Accueil
          </a>
          <!-- Question -->
          <a class="navbar-item" href="{{url_for('question')}}">
            <i style="color: black; font-size:20px;" class="fas fa-question"></i>
            &nbsp;&nbsp;Poser une question
          </a>
          <!-- Messages privés -->
          <a class="navbar-item" href="{{url_for('messages')}}">
            <i style="color: black; font-size:20px;" class="fas fa-envelope"></i>
            &nbsp;&nbsp;Messages privés
          </a>
          <!-- Barre de division -->
          <hr class="navbar-divider">
          <!-- Profil + Préférences -->
          <a class="navbar-item" href="{{url_for('profil')}}">
            <i style="color: black; font-size:20px;" class="fas fa-user-circle"></i>
            &nbsp;&nbsp;Profil et préférences
          </a>
        </div>
      </div>
    </div>
    <!-- Fin menu déroulant -->
    <!-- Recherche -->
    <form action="{{url_for('recherche')}}" method="GET" style="margin-top: 2px; width: 40%;">
      <input type="text" name="search" placeholder="Recherche..." style="width: 80%; height: 80%; border-radius: 3px; border: none; outline: none; padding-left: 8px;" />
      <button type="submit" style="background-color:{{session['couleur']}}; border: 1px solid {{session['couleur']}}; margin-top:1%;font-size: 20px;margin-right:10%;"><i class="fas fa-search logoBouton"></i></button>
    </form>
    <!-- Profil -->
    <!-- <a href="{{url_for('profil')}}">
      <i style="color:black;font-size:30px;margin-top:40%;" class="fas fa-user-circle"></i>
    </a>
    <div style="width:20%; margin-top: 10px; padding:10px;">
    <progress class="progress is-link" value="70" max="100">70%</progress>
    </div> -->
    <!-- Partie droite de la barre de navigation -->
    <div class="navbar-end">
      <!-- Début notifications -->
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
          <i style="color: black; font-size:30px;" class="fas fa-bell"></i>
        </a>
        <!-- Notifications -->
        <div class="navbar-dropdown is-right">
          <!-- Début publication 1 -->
          <div class="box">
            <article class="media">
              <div class="media-left">
                <!-- Image profil utilisateur -->
                <figure class="image is-32x32">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <!-- Contenu publication -->
              <div class="media-content">
                <div class="content">
                  <p>
                    <!-- Nom ; pseudo ; temps -->
                    <strong>Nom</strong> <small>pseudo</small> <small>31min</small>
                    <br>
                    <!-- Texte publication -->
                    contenu de la publication
                  </p>
                </div>
                <!-- Icons like, répondre et retweet -->
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <!-- Fin publication 1 -->
          <!-- Début publication 2 -->
          <div class="box">
            <article class="media">
              <div class="media-left">
                <!-- Image profil utilisateur -->
                <figure class="image is-32x32">
                  <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
                </figure>
              </div>
              <!-- Contenu publication -->
              <div class="media-content">
                <div class="content">
                  <p>
                    <!-- Nom ; pseudo ; temps -->
                    <strong>Nom</strong> <small>pseudo</small> <small>31min</small>
                    <br>
                    <!-- Texte publication -->
                    contenu de la publication
                  </p>
                </div>
                <!-- Icons like, répondre et retweet -->
                <nav class="level is-mobile">
                  <div class="level-left">
                    <a class="level-item" aria-label="reply">
                      <span class="icon is-small">
                        <i class="fas fa-reply" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="retweet">
                      <span class="icon is-small">
                        <i class="fas fa-retweet" aria-hidden="true"></i>
                      </span>
                    </a>
                    <a class="level-item" aria-label="like">
                      <span class="icon is-small">
                        <i class="fas fa-heart" aria-hidden="true"></i>
                      </span>
                    </a>
                  </div>
                </nav>
              </div>
            </article>
          </div>
          <!-- Fin publication 2 -->
        </div>
      </div>
    </div>
  </div>
</nav>
<!-- Fin barre de navigation -->
