<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Commentaire</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/mystyles.css')}}">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/notification.js')}}" type="text/javascript" defer></script>
  <!-- importation du JS pour afficher et enlever les div -->
  <script type="text/javascript" src="/static/js/bandeau.js"></script>
  <script src="{{url_for('static',filename='js/publication.js')}}" type="text/javascript" defer></script><script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='js/rep.js')}}" type="text/javascript"></script><script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include "bandeau.html" %}
  <div class="modal" id="signalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement</p>
      </header>
      <form onsubmit="signaler(event); return false;" id="signalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce message." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idSignalé" name='idSignalé' value="" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designaler(event); return false;" id="designalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="" />
          Etes-vous sûr de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Oui</button>
          <button onclick="designalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="signalisationRep" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement réponse</p>
      </header>
      <form onsubmit="signalerRep(event); return false;" id="signalementRep" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRepRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce message." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idRepSignalé" name='idSignalé' value="" />
          <input type='hidden' id="idDemandSignalé" name='idDemandSignalé' value="{{d['idMsg']}}" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationRepClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisationRep" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement réponse</p>
      </header>
      <form onsubmit="designalerRep(event); return false;" id="designalementRep" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idRepDesignalé" name='idSignalé' value="" />
          <input type='hidden' id="idDemandDesignalé" name='idDemandSignalé' value="{{d['idMsg']}}" />
          Etes-vous sûr de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Oui</button>
          <button onclick="designalisationRepClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <!-- debut de la div pour tt les publications -->
  <div class="columns" style="margin-top:5%;">
    <div class="column"></div>
    <div class="column is-three-fifths">
      <!-- Début publi -->
      {% include 'publication.html' with context %}
      <!-- Fin publi -->
    </div>
    <div class="column"></div>
  </div>
  {%if user['SanctionEnCour'] != "Spec" and user['SanctionEnCour'] != "SpecForum"%}

  <div id="showbutton" style="display:none;justify-content:space-between;margin-top: 5px;margin-bottom: 20px;">
  <button  style="margin-right:20%;" class="button is-info is-outlined" onclick="afficheArea()">
    <span class="icon is-small">
      <i class="fas fa-arrow-right"></i>
    </span>
    <span>Répondre à cette question</span>
  </button>
  <a href="{{url_for('accueil')}}" class="button is-danger is-outlined">
    <span>Retour</span>
    <span class="icon is-small">
      <i class="fas fa-times"></i>
    </span>
  </a>
</div>

  <div style="position: relative; width: 70%; left: 50%; transform: translateX(-50%); margin-bottom: 20px;" id="rep-form">
    <form method="POST">
      <textarea name="rep" placeholder="Votre réponse..." class="textarea" style="resize: vertical; min-height: 100px; max-height: 250px;" required></textarea>
      <div style="display:flex;justify-content:space-between;margin-top: 5px;">
        <button type="submit" class="button is-success is-outlined">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Envoyer ma réponse !</span>
        </button>
        <div onclick="enleveArea()" class="button is-danger is-outlined">
          <span>Annuler</span>
          <span class="icon is-small">
            <i class="fas fa-times"></i>
          </span>
        </div>
      </div>
    </form>

  </div>
  {%endif%}

  <div class="columns" style="margin-left:2%;">
    <div class="column">
      {% for r in d['réponses associées'] %}
        <div class="box">
          <article class="media">
            <!-- Contenu publication -->
            <div class="media-content">
              <div class="content">
                <p style="margin-bottom: 5px;">
                  <!-- Nom utilisateur ; pseudo ; temps -->
                  <strong><a href="{{url_for('profil' ,idUser=r['user']['_id'])}}">{{r['user']['nom']}} {{r['user']['prenom']}}</a></strong> <small><em>@{{r['user']['pseudo']}}</em></small> <small>{{r['temps']}}</small>
                </p>
                <!-- Texte publication -->
                <p>{{r['contenu']}}</p>
              </div>
              <!-- Icons like et commentaire -->
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like" onClick="like_rep('{{d['idMsg']}}', '{{r['idRep']}}')">
                    <span class="icon is-small">
                      {% if r['a_like'] %}
                        <i id="like_{{r['idRep']}}" class="fas fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                      {% else %}
                        <i id="like_{{r['idRep']}}" class="far fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                      {% endif %}
                    </span>
                  </a>
                </div>
              </nav>
              <div class="navbar-item">
                <button  class="button is-warning is-outlined is-small" onClick="sign_rep('{{r['idRep']}}')">
                  <span class="icon is-small">
                    {% if r['a_sign'] %}
                    <i id="sign_{{r['idRep']}}" class="fas fa-flag" aria-hidden="true"></i>
                    {% else %}
                      <i id="sign_{{r['idRep']}}" class="far fa-flag" aria-hidden="true"></i>
                    {% endif %}
                  </span>
                  <span>Signaler</span>
                </button>
                <input type="hidden" />
              </div>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
    <div class="column"></div>
    <div class="column"></div>
  </div>


  <!-- fin de l'espace des publication -->

</body>

</html>
