<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Commentaire</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <!-- importation du JS pour afficher et enlever les div -->
  <script src="{{url_for('static',filename='js/publication.js')}}" type="text/javascript"></script><script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='js/rep.js')}}" type="text/javascript"></script><script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include "bandeau.html" %}

  <!-- debut de la div pour tt les publications -->
  <div class="columns" style="margin-top:5%;">
    <div class="column"></div>
    <div class="column">
      <!-- Début publi -->
      <div class="box">
        <article class="media">
          <div class="media-left">
            <!-- Image photo de profil-->
            <figure class="image is-64x64">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </div>
          <!-- Contenu publication -->
          <div class="media-content">
            <div class="content">
              <p style="margin-bottom: 5px;">
                <!-- Nom utilisateur ; pseudo ; temps -->
                <strong><a href="{{url_for('profil' ,idUser=d['user']['_id'])}}">{{d['user']['nom']}} {{d['user']['prenom']}}</a></strong> <small><em>@{{d['user']['pseudo']}}</em></small> <small>{{d['temps']}}</small>
              </p>
              <!-- Titre -->
              <h3 style="margin-top: 0;">{{d['titre']}}</h3>
              <!-- Texte publication -->
              <p>{{d['contenu']}}</p>
            </div>
            <!-- Icons like et commentaire -->
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="like" onClick="like('{{d['idMsg']}}')">
                  <span class="icon is-small">
                    {% if d['a_like'] %}
                      <i id="like_{{d['idMsg']}}" class="fas fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{d['nb-likes']}}</i>
                    {% else %}
                      <i id="like_{{d['idMsg']}}" class="far fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{d['nb-likes']}}</i>
                    {% endif %}
                  </span>
                </a>
                <a class="level-item" aria-label="comment" onclick="afficheArea()">
                  <span class="icon is-small">
                    <i class="far fa-comment" aria-hidden="true"></i>
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <!-- Fin publi -->
    </div>
    <div class="column"></div>
  </div>

  <button class="button" style="display: none; margin-bottom: 20px;" onclick="afficheArea()" id="showbutton">Répondre à cette question</button>

  <div style="position: relative; width: 70%; left: 50%; transform: translateX(-50%); margin-bottom: 20px;" id="rep-form">
    <form method="POST">
      <textarea name="rep" placeholder="Votre réponse..." class="textarea" style="resize: vertical; min-height: 100px; max-height: 250px;" required></textarea>
      <input class="button" type="submit" value="Envoyer ma réponse !" style="margin-top: 5px;" />
    </form>
    <button class="button" style="margin-top: 5px;" onclick="enleveArea()"><em>Masquer</em></button>
  </div>

  <div class="columns" style="margin-left:2%;">
    <div class="column">
      {% for r in d['reponses'] %}
        <div class="box">
          <article class="media">
            <!-- Contenu publication -->
            <div class="media-content">
              <div class="content">
                <p style="margin-bottom: 5px;">
                  <!-- Nom utilisateur ; pseudo ; temps -->
                  <strong><a href="{{url_for('profil' ,idUser=r['user']['_id'])}}">{{r['user']['nom']}} {{r['user']['prenom']}}</a></strong> <small><em>@{{r['user']['pseudo']}}</em></small> <small>{{r['temps']}}</small>
                </p>
                <!-- Texte publication -->
                <p>{{r['contenu']}}</p>
              </div>
              <!-- Icons like et commentaire -->
              <nav class="level is-mobile">
                <div class="level-left">
                  <a class="level-item" aria-label="like" onClick="like_rep('{{d['idMsg']}}', '{{r['idRep']}}')">
                    <span class="icon is-small">
                      {% if r['a_like'] %}
                        <i id="like_{{r['idRep']}}" class="fas fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                      {% else %}
                        <i id="like_{{r['idRep']}}" class="far fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                      {% endif %}
                    </span>
                  </a>
                </div>
              </nav>
            </div>
          </article>
        </div>
      {% endfor %}
    </div>
    <div class="column"></div>
    <div class="column"></div>
  </div>


  <!-- fin de l'espace des publication -->

</body>

</html>
