<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr" data-theme="{{session['theme']}}">

<head>

  <meta charset="UTF-8">

  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
  <img alt="clé logo Key4School" src="../static/image/logo/cle_blanche.png" style="border-radius:70px;margin:auto;width: 250px;height: 250px;
  background: linear-gradient(
318deg
, #00b7ff, rgba(255,0,0,0) 70.71%), linear-gradient(
59deg
, #ff0000, rgba(0,255,0,0) 70.71%), linear-gradient(
168deg
, #14db14, rgba(0,0,255,0) 70.71%), linear-gradient(
309deg
, #ffbb00, rgba(255,0,0,0) 70.71%);
  ">

</img>
</body>
</html>
