<!-- language utf8 pour indiquer l'encodage -->
<meta charset="UTF-8">
<!-- pour l'adapter plus ou moins bien sur telephone -->
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="theme-color" content="{{session['couleur'][0]}}">
<!-- page de style -->
<link rel="stylesheet" type="text/css" href="/static/styles/style.css?v={{session['cacheRandomKey']}}">
<!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
<!-- <link rel="stylesheet" href="{{url_for('static',filename='css/mystyles.css')}}"> -->
<link rel="stylesheet" href="/static/css/mystyles.css?v={{session['cacheRandomKey']}}">
<script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
<script src="/static/js/notification.js?v={{session['cacheRandomKey']}}" type="text/javascript" defer></script>
<!-- importation du JS pour afficher et enlever les div -->
<script src="/static/js/publication.js?v={{session['cacheRandomKey']}}" type="text/javascript" defer></script>
<script src="/static/js/main.js?v={{session['cacheRandomKey']}}" type="text/javascript"></script>
{%if user['admin']==true%}<script src="/static/js/administration.js?v={{session['cacheRandomKey']}}" type="text/javascript"></script>{%endif%}
<script type="text/javascript" src="/static/js/bandeau.js?v={{session['cacheRandomKey']}}"></script>
<script src="/static/js/profil.js?v={{session['cacheRandomKey']}}" type="text/javascript"></script>
<link rel="icon" href="/static/image/logo/favicon.png?v=2" id="favicon"/>
<script src='https://cdn.rawgit.com/admsev/jquery-play-sound/master/jquery.playSound.js'></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js" integrity="sha512-d9sMcIBjQTs74UtVxBT8z7b4NRFZrwD2rn5VJe/pBxjwMmxOuBDmYFzLmwssH9AUIhFKtWzoeZgDIp6Yc0g+jw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<style>
  @media (prefers-color-scheme: dark) {
  :root {
  --shadow-box:0 0.5em 0.5em -0.125em {{session['couleur'][0]}}, 0 0 0 1px #03a9f400;
  --text-color: #ededed;

  }
  }
  @media (prefers-color-scheme: light) {
    :root {
    --shadow-box:0 .5em 1em -.125em rgba(10, 10, 10, .1), 0 0 0 1px rgba(10, 10, 10, .02);
    --text-color: #4a4a4a;
    }
  }
  .navbarhover:hover{
    background:{{session['couleur'][2]}};
    cursor:pointer;
  }
  .box {
    background-color: var(--background-box);
    border-radius: 6px;
    box-shadow: var(--shadow-box);
    color: var(--text-color);
    display: block;
    padding: 1.25rem
  }
</style>
