<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Mon lycée</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <!-- importation du JS pour afficher et enlever les div -->
  <script src="{{url_for('static',filename='js/menu.js')}}"></script>
</head>

<body>

{% include "bandeau.html" %}
    <!-- debut de la div pour tt les publications -->
    <div class"publications">
      <!-- div pour la 1ere publication -->
      <div class="pub">
        <!-- photo de profil de celui qui a poster la publication -->
        <img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="persopubli" />
        <!-- contenue de la publication -->
        <div class="contentpub">
        <!-- titre de la publication -->
          <h2>Le CVL organise un évènement ! </h2>
          <!-- paragraphe de la publication -->
          <p>
            Rendez-vous le 24/04/2021 dans la salle polyvalente !!
          </p>
          <!-- logo  coeur pour liker-->
          <img alt="like" src="{{url_for('static',filename='image/like.png')}}" class="iconereaction" />
          <!-- logo  msg pour commenter-->
          <img alt="commentaire" src="{{url_for('static',filename='image/comment.png')}}" class="iconereaction" />
        </div>
      </div>
      <!-- div pour la 2eme publication (j ai pas remis les commentaires a l interieur mais c la mm que au dessus)-->
      <div class="pub">
        <img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="persopubli" />
        <div class="contentpub">
          <h2>Nouvel atelier d'écriture bientôt au CDI !</h2>
          <p>
            Retrouvez nous tous les mercredis dans l'aile droite du CDI pour participer à notre atelier !
            <br /><br />
            A bientôt !<br />
            Les documentalistes.
          </p>
          <img alt="like" src="{{url_for('static',filename='image/like.png')}}" class="iconereaction" />
          <img alt="commentaire" src="{{url_for('static',filename='image/comment.png')}}" class="iconereaction" />
        </div>
      </div>
      <!-- div pour la 3eme publication -->
      <div class="pub">
        <img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="persopubli" />
        <div class="contentpub">
          <h2>Bravo à tous les participants au concours  de dessin !</h2>
          <p>
              Voici les oeuvres des gagnants :
          </p>
          <img alt="image publication" src="{{url_for('static',filename='image/imgvide.png')}}" class="imagepublication"/>
          <br />
          <br />
          <img alt="like" src="{{url_for('static',filename='image/like.png')}}" class="iconereaction" />
          <img alt="commentaire" src="{{url_for('static',filename='image/comment.png')}}" class="iconereaction" />
        </div>
      </div>
      <!-- fin de la 3eme publication -->
    </div>
    <!-- fin de l'espace des publication -->

</body>

</html>
