<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Mon lycée</title>
  <link rel="stylesheet" type="text/css" href="style.css">
</head>

<body>
  <div class="bandeau">
    <img alt="menu" src="menu.png" class="iconemenu" />
    <input type="text" placeholder="rechercher" />
    <div class="profile">
      <img alt="avatar" src="avatar.png" class="iconemenu" />
      <progress value="70" max="100">70 %</progress>
    </div>
    <img alt="notif" src="cloche.png" class="iconemenu" />
  </div>
  <br />
  <br />
  <div class"publications">
    <div class="pub1">
      <img alt="avatar" src="avatar.png" class="iconemenu" />
      <div class="content">
        <h2>Titre</h2>
        <p>
          Text
        </p>
        <img alt="like" src="like.png" class="iconereaction" />
        <img alt="commentaire" src="comment.png" class="iconereaction" />
    </div>
  </div>
</body>

</html>
