<!DOCTYPE html>
<html>

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
  <link rel ="stylesheet" href="https://code.jquery.com/ui/1.10.4/themes/ui-darkness/jquery-ui.css" />
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <link rel ="stylesheet" href="http://jqueryui.com/ressources/demos/style.css" />
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/mystyles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/image/logo/favicon.png?v=2" id="favicon" />
  <script src="../static/js/inscription1.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js" integrity="sha512-d9sMcIBjQTs74UtVxBT8z7b4NRFZrwD2rn5VJe/pBxjwMmxOuBDmYFzLmwssH9AUIhFKtWzoeZgDIp6Yc0g+jw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>


</head>

<body>
  <nav class="titre">
    <img src="../static/image/logo/favicon.png" style="height:30px;width:auto;" />
    <span class="key4schoolNavbar_Connexion">
      <p style="font-family: 'Roboto', sans-serif;">
        Key
      </p>
      <p style="font-family: 'M PLUS Rounded 1c', sans-serif;">
        4
      </p>
      <p style="font-family: 'Rochester', cursive;">
        School
      </p>
    </span>
  </nav>
  <form>
    <div class="input_inscription control has-icons-left has-icons-right">
      <input class="color_input input" type="tel" placeholder="(Téléphone) facultatif" name="phone" id="phone">
      <span class="icon is-small is-left">
        <i class="fas fa-phone-alt"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="phone_check"></i>
      </span>
    </div>
    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input class="color_input input" type="date" placeholder="Date de naissance" name="birthday" id="birthday">
      <span class="icon is-small is-left">
        <i class="fas fa-birthday-cake"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="birthday_check"></i>
      </span>
    </div>
    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input  autocomplete="off" class="color_input input" type="text" placeholder="Lycée"  name="school" id="school">
      <datalist id="datalist_school">
      </datalist>
      <span class="icon is-small is-left">
        <i class="fas fa-school"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="school_check"></i>
      </span>
    </div>

    <br>

    <div class="input_inscription control has-icons-left">
      <div class="select color_input" style="width:100%;">
        <select name="grade" id="grade" style="width:100%;">
          <option selected>--Niveau--</option>
          <option>2nd</option>
          <option>1ère</option>
          <option>Tle</option>
        </select>
      </div>
      <span class="icon is-small is-left">
        <i class="fas fa-graduation-cap"></i>
      </span>
    </div>
    <br />

    <div class="input_inscription control has-icons-left has-icons-right">
      <input autocomplete="off" list="datalist_lva" class="color_input input" type="text" placeholder="LVA" name="LVA" id="LVA">
      <datalist id="datalist_lva">
      </datalist>
      <template id="template_lva">
        <option>Allemand</option>
        <option>Allemand Euro</option>
        <option>Anglais</option>
        <option>Anglais Euro</option>
        <option>Arabe</option>
        <option>Basque</option>
        <option>Catalan</option>
        <option>Chinois</option>
        <option>Créole</option>
        <option>Italien</option>
        <option>Italien Euro</option>
        <option>Espagnol</option>
        <option>Espagnol Euro</option>
        <option>Hébreu</option>
        <option>Kanak</option>
        <option>Portugais</option>
        <option>Portugais Euro</option>
        <option>Russe</option>
      </template>
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="LVA_check"></i>
      </span>
    </div>

    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input list="datalist_lvb" class="color_input input" type="text" placeholder="LVB" name="LVB" id="LVB">
      <datalist autocomplete="off" id="datalist_lvb">
      </datalist>
      <template id="template_lvb">
        <option>Allemand</option>
        <option>Anglais</option>
        <option>Arabe</option>
        <option>Basque</option>
        <option>Catalan</option>
        <option>Chinois</option>
        <option>Créole</option>
        <option>Espagnol</option>
        <option>Hébreu</option>
        <option>Kanak</option>
        <option>Portugais</option>
        <option>Russe</option>
      </template>
      <span class="icon is-small is-left">
        <i class="fas fa-globe"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="LVB_check"></i>
      </span>
    </div>

    <br />
    <br>
    <center>
      <button type="submit" class="button">Next</button>
    </center>

    <br>
  </form>
</body>

</html>
