<!DOCTYPE html>
<html lang="fr" data-theme="system">

<head>

  <meta charset="UTF-8">
  <title>Key4School - Inscription</title>

  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link rel="stylesheet" type="text/css" href="/static/styles/style.css">

  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="/static/css/mystyles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link rel="icon" href="/static/image/logo/favicon.png?v=2" id="favicon" />
  <script src="/static/js/inscription0.js"></script>
  <script src="/static/js/voir_mdp.js"></script>

  <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js" integrity="sha512-d9sMcIBjQTs74UtVxBT8z7b4NRFZrwD2rn5VJe/pBxjwMmxOuBDmYFzLmwssH9AUIhFKtWzoeZgDIp6Yc0g+jw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>


</head>

<body>
  <nav class="titre">
    <img src="/static/image/logo/favicon.png" alt="logo Key4School" style="height:30px;width:auto;" />
    <span class="key4schoolNavbar_Connexion">
      <p style="font-family: 'Roboto', sans-serif;">
        Key
      </p>
      <p style="font-family: 'M PLUS Rounded 1c', sans-serif;">
        4
      </p>
      <p style="font-family: 'Rochester', cursive;">
        School
      </p>
    </span>
  </nav>
  <form class="form_inscription" action="./" method="post" id="form">
    <div class="input_inscription control has-icons-left has-icons-right">
      <input class="color_input input" placeholder="Prénom" name="prenom" id="prenom">
      <span class="icon is-small is-left">
        <i class="fas fa-user-alt"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="name_check"></i>
      </span>
    </div>
    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input autocomplete="off" class="color_input input" placeholder="Nom" name="nom" id="nom">
      <span class="icon is-small is-left">
        <i class="fas fa-user-alt"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="familyName_check"></i>
      </span>
    </div>
    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input autocomplete="off" class="color_input input" type="text" placeholder="Pseudo" name="pseudo" id="pseudo">
      <span class="icon is-small is-left">
        <i class="far fa-smile-wink"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="pseudo_check"></i>
      </span>
    </div>
    <br />
    <div class="input_inscription control has-icons-left has-icons-right">
      <input autocomplete="off" class="color_input input" type="text" placeholder="Email" name="email" id="email">
      <span class="icon is-small is-left">
        <i class="fas fa-envelope"></i>
      </span>
      <span class="icon is-small is-right">
        <i class="fas fa-check" id="email_check"></i>
      </span>
    </div>
    <br />
    <div class="content_mdp">
      <div class="control has-icons-left has-icons-right" style="width: 100%;">
        <input class="color_input input" type="password" placeholder="Mot de passe" name="password" id="mdp">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check" id="password_check"></i>
        </span>
      </div>
      <div class="oeil" onclick="voir(1)">
        <i id="oeilid" class="fas fa-eye oeil"></i>
      </div>
    </div>

    <div class="progressBar">
      <div class="progress-done"></div>
    </div>
    <ul id="indiq_verif" class="txt_centre indiq_verif">
      <li id="taille-mdp"></li>
      <li id="min-mdp"></li>
      <li id="maj-mdp"></li>
      <li id="chiffre-mdp"></li>
    </ul>
    <br />
    <div class="content_mdp">
      <div class="control has-icons-left has-icons-right" style="width: 100%;">
        <input class="color_input input" type="password" placeholder="Confirmation mot de passe" name="confmdp" id="confmdp">
        <span class="icon is-small is-left">
          <i class="fas fa-lock"></i>
        </span>
        <span class="icon is-small is-right">
          <i class="fas fa-check" id="confPassword_check"></i>
        </span>
      </div>
      <div class="oeil" onclick="voir(2)">
        <i id="oeilid2" class="fas fa-eye oeil"></i>
      </div>
    </div>
    <br />
    <br>

    <center>
      <button type="submit" class="button">Next</button>
    </center>

    <br>
  </form>
  <br />
  <div id="erreur">
    <p class="erreurP">
      Vous n'avez pas rempli correctement les champs du formulaire !
    </p>
    <br /><br />
  </div>
  {%if erreur%}
  <p class="erreurP">{{erreur}}</p>
  {%endif%}
  <p class="txt_centre">
    Vous avez deja un compte ? <a href="{{url_for('login')}}" style="color:#3273dc;">connectez vous !</a>
  </p>
  <br>
  <br />
</body>

</html>
