<!DOCTYPE html>
<html>

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="../static/styles/style.css">
  <!-- importation de la bibliotheque j query qui est requise pour faire marcher le js-->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <link rel="stylesheet" href="../static/css/mystyles.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.0.1/socket.io.js" integrity="sha512-q/dWJ3kcmjBLU4Qc47E4A9kTB4m3wuTY7vkFJDTZKjTs8jhyGQnaUrxa0Ytd0ssMZhbNua9hE+E7Qv1j+DyZwA==" crossorigin="anonymous"></script>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
  <link rel="icon" href="../static/image/logo/favicon.png?v=2" id="favicon" />
  <script src="../static/js/inscription.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/favico.js/0.3.10/favico.min.js" integrity="sha512-d9sMcIBjQTs74UtVxBT8z7b4NRFZrwD2rn5VJe/pBxjwMmxOuBDmYFzLmwssH9AUIhFKtWzoeZgDIp6Yc0g+jw==" crossorigin="anonymous" referrerpolicy="no-referrer">
  </script>


</head>

<body>
  <div class="titre">
    <img src="../static/image/logo/favicon.png" style="height:30px;width:auto;" />
    <span class="key4schoolNavbar_Connexion">
      <p style="font-family: 'Roboto', sans-serif;">
        Key
      </p>
      <p style="font-family: 'M PLUS Rounded 1c', sans-serif;">
        4
      </p>
      <p style="font-family: 'Rochester', cursive;">
        School
      </p>
    </span>
  </div>
  <br />
  <br>
  <br>
  <br>
  <br>
  <br>
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="Spécialité 1" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book-open"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Spé 1</option>
    <option>Spé 2</option>
    <option>Spé 3</option>
  </datalist>
  <br />
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="Spécialité 2" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book-open"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Spé 1</option>
    <option>Spé 2</option>
    <option>Spé 3</option>
  </datalist>
  <br />
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="Spécialité 3" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book-open"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Spé 1</option>
    <option>Spé 2</option>
    <option>Spé 3</option>
  </datalist>
  <br />
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="option 1" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Musique</option>
    <option>Maths</option>
    <option>Droits</option>
  </datalist>
  <br />
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="option 2" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Musique</option>
    <option>Maths</option>
    <option>Droits</option>
  </datalist>
  <br />
  <div class="input_inscription control has-icons-left has-icons-right">
    <input class="color_input input" type="text" placeholder="option 3" @keyup="fonction">
    <span class="icon is-small is-left">
      <i class="fas fa-book"></i>
    </span>
    <span class="icon is-small is-right">
      <i class="fas fa-check"></i>
    </span>
  </div>
  <datalist id="id_datalist">
    <option>Musique</option>
    <option>Maths</option>
    <option>Droits</option>
  </datalist>
  <br />
  <br>
  <p class="txt_centre">Notre politique de confidentialité <a href="credits.html">En savoir plus</a></p>
  <br>
  <br>
  <center>
    <button type="submit" class="button">Inscription</button>
  </center>

  <br>
  </form>
</body>

</html>
