<!DOCTYPE html>
<html lang="fr" data-theme="{{session['theme']}}">

<head>

  <meta charset="UTF-8">
  <title>Key4School - Leader Board</title>
{% include 'head.html' with context %}
<script src="/static/js/leaderboard.js"></script>
<style>
</style>
</head>
<body>
  {% include 'bandeau.html' %}
  <h1 class="title">Leaderboard</h1>
  <br />
  <div class="tabs is-toggle is-toggle-rounded">
  <ul style="justify-content: center;">
    <li id="lb-france" class="is-active">
      <a>
        <span class="items_toggle_ordi">Top France</span>
        <span class="items_toggle_tel">France</span>
      </a>
    </li>
    <li id="lb-depart">
      <a>
        <span class="items_toggle_ordi">Top département</span>
        <span class="items_toggle_tel">Département</span>
      </a>
    </li>
    <li id="lb-lycee">
      <a>
        <span class="items_toggle_ordi">Top lycée</span>
        <span class="items_toggle_tel">Lycée</span>
      </a>
    </li>
  </ul>
  </div>
  <div class="container_leaderboard">
  <br />
  <div class="container_top_leaderboard">
    <div class="container_top_leaderboard_items">
      {%if users|length > 1%}
      <p>
          <i style="font-size:1.5rem;color:#c0c0c0" class="fas fa-medal"></i>
      </p>
      <img alt="photo profile" class="photo_top_leaderboard_2_3" src="{%if users[1]['idImg']%}{{url_for('userImg', profilImg = users[1]['idImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"/>
      <p style="font-size:1rem;">
        {{users[1]['xp']}}
      </p>
      <p style="font-size:1rem;">
        {{users[1]['pseudo']}}
      </p>
      {%endif%}
    </div>
    <div class="container_top_leaderboard_items">
      {%if users|length > 0%}
      <p>
          <i style="font-size:1.75rem;color:hsl(48, 100%, 67%);" class="fas fa-crown"></i>
      </p>
      <img alt="photo profile" style="height:6.25rem;width:6.25rem;object-fit: cover;border-radius:50%;" src="{%if users[0]['idImg']%}{{url_for('userImg', profilImg = users[0]['idImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"/>
      <p style="font-size:1.5rem;">
        {{users[0]['xp']}}
      </p>
      <p style="font-size:1.5rem;">
        {{users[0]['pseudo']}}
      </p>
      {%endif%}
    </div>
    <div class="container_top_leaderboard_items">
      {%if users|length > 2%}
      <p>
          <i style="font-size:1.5rem;color:#614e1a" class="fas fa-medal"></i>
      </p>
      <img alt="photo profile" class="photo_top_leaderboard_2_3" src="{%if users[2]['idImg']%}{{url_for('userImg', profilImg = users[2]['idImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"/>
      <p style="font-size:1rem;">
        {{users[2]['xp']}}
      </p>
      <p style="font-size:1rem;">
        {{users[2]['pseudo']}}
      </p>
      {%endif%}
    </div>
  </div>
  <br /><br />
  <div style="width:100%;">
    {%for utilisateur in users[3:]%}
    {%set a= loop.index+3%}
    <table class="leaderboard_classement">
      <tr style="border:2px solid {%if utilisateur['id']==session['id']%}{{session['couleur'][1]}}{%else%}gray{%endif%};">
        <td style="width:2rem;" class="leaderboard_cellule">
          <p style="margin:auto;width:1rem;">
            {{a}}
          </p>
        </td>
        <td class="leaderboard_cellule" style="margin-left:5%;display:flex;align-items:center;justify-content:flex-start">
          <img alt="photo profile" class="leaderboard_img_classement" src="{%if utilisateur['idImg']%}{{url_for('userImg', profilImg = utilisateur['idImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"/>
        <!-- </td>
        <td class="leaderboard_cellule"> -->
          <p style="white-space:nowrap;overflow: hidden;text-overflow: ellipsis;">
            {{utilisateur['pseudo']}}
          </p>
        </td>
        <td style="width:auto;" class="leaderboard_cellule">
          <p style="width:auto;text-align:right;margin-right:1rem;">
            {{utilisateur['xp']}}
          </p>
        </td>
      </tr>
    </table>
    {%endfor%}

  </div>

  </div>

</body>
</html>
