<!DOCTYPE html>
<html lang="fr" style="background-color:#f0f2f5;">

<head>
  
  <meta charset="UTF-8">
  
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=M+PLUS+Rounded+1c&display=swap" rel="stylesheet">
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Rochester&display=swap" rel="stylesheet">
</head>

<body style="text-align: center;height:100%;font-family:Arial;line-height: 135%;">
  <div style="padding:2% 0%;margin:1%;background-color:white;display:flex;height:10%">
    <span style="border-top: 2px solid #00b7ff;height:50%;width:40%;margin:auto;">
    </span>
    <a href="https://key4school.herokuapp.com/" style="text-decoration: none;display:flex;align-items:center;">
      <img src="../static/image/logo/Nuances_bleu.png" style="border-radius: 8px;height:50px;width:50px;margin-right:3%;margin-bottom:3%;"/>
      <span style="color:black;font-weight:bold;font-size:30px;display:flex;">
        <p style="font-family: 'Roboto', sans-serif;">
          Key
        </p>
        <p style="font-family: 'M PLUS Rounded 1c', sans-serif;">
          4
        </p>
        <p style="font-family: 'Rochester', cursive;">
          School
        </p>
      </span>
    </a>
    <span style="border-top: 2px solid #00b7ff;height:50%;width:40%;margin:auto;">

    </span>

  </div>
  <div style="background-color:white;margin:3%;height:60%;padding:2%;">
    <p style="color:#3e97ff;margin-bottom:1%;">
      Cher jury, <br /><br />Dans ce mail vous trouverez 5 mois de travail, de réflexion, de débat et de code. Ce travail est un concentré de nos connaissances et de nos nouveaux acquis depuis le mois de mars. C'est donc avec une immense fierté que nous vous partageons le lien de notre projet, <b>Key4School</b> qui a pour but d'entraider les lycéens entre eux.
        <br /><br />  Voila le lien de notre réseau social <b>Key4School</b> : <a style="color:#3e97ff;" href="https://key4school.herokuapp.com/">https://key4school.herokuapp.com/</a>
    </p>
      <span style="display:flex;align-items:center;justify-content:center;color:#3e97ff;margin-bottom;1%;">
        Ainsi que le readme : <a href="{{url_for('static', filename='image/README.pdf')}}" download="README.pdf" ><img src="../static/image/pdf.png"  /></a>
    </span>
    <p style="color:#3e97ff;margin-top:1%;">
      qui contient une présentation plus détaillée, ainsi que nos innovations techniques et les fonctionnalités à venir
    </p>
    <p style="color:#3e97ff;margin:1% 0%;">
      N'hesitez surtout pas à revenir vers nous si vous avez la moindre des questions, si vous voulez avoir accès au code, veuillez nous faire parvenir un compte Github pour vous le partager
    </p>
    <div style="display:flex;align-items:center;justify-content:center;">
    <p style="color:#3e97ff;margin-right:1%;">
      Cordialement, l'équipe de
    </p>
       <span style="color:#3e97ff;font-weight:bold;font-size:18px;display:flex;">
        <p style="font-family: 'Roboto', sans-serif;">
          Key
        </p>
        <p style="font-family: 'M PLUS Rounded 1c', sans-serif;">
          4
        </p>
        <p style="font-family: 'Rochester', cursive;">
          School
        </p>
      </span>
    </div>
  </div>
</body>

</html>
