<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Nouvelle notification</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="{{url_for('static',filename='css/mystyles.css')}}">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
</head>

<body>
  <h1>Nouvelle Notification sur "Nom du site"</h1>
  <p>
    Bonjour, user['prenom'] user['nom'], vous avez reçu un <b>nouveau message</b>
    <div style="background-color:{{session['couleur'][0]}};">
      <a>
        Aller sur "Nom du site"
      </a>
    </div>
  </p>
  <div id="root"></div>
</body>

</html>
