<!DOCTYPE html>
<html lang="fr" style="overflow:hidden;">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Messages</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <!-- on inclut la bibliothèque depuis les serveurs de Google -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/message.js')}}" type="text/javascript"></script>
  <style>
    .liengroupe {
      color: black;
      text-decoration: none;
    }

    .current {
      font-weight: bold;
    }

    .liengroupe:hover {
      cursor: pointer;
      font-weight: bold;
    }
  </style>
</head>


<!-- overflow est la barre pour baisser la page, on l enleve pour en mettre que une dans les messages -->

<body style="overflow:hidden;">
  {% include "bandeau.html" %}
  <!-- div qui contient tt le reste de la page avec les messages et l'affichage des groupe -->
  <div style="display: flex;justify-content:space-between;height:95%;margin-top: 2%;">
    <!-- div pour afficher tout les groupes -->
    <div id="nomgroupe" style="  width: 15%;margin-left: 5%;overflow-y:auto;margin-bottom:5%;">
      <div class="liengroupe">
        <i onclick="divnewgroupopen()" class="fas fa-plus-circle" style="font-size:30px;margin-bottom:5%;"></i>
      </div>

      <div class="modal" id="newgrou">
        <div class="modal-background"></div>
        <div class="modal-card">
          <header class="modal-card-head">
            <p class="modal-card-title">Créer un nouveau groupe</p>
            <button onclick="divnewgroupclose()" class="delete" aria-label="close"></button>
          </header>
          <form action="{{url_for('createGroupe')}}" method="POST" autocomplete="off">
            <section class="modal-card-body">
              <input placeholder="Nom du groupe" class="input" type="text" name="nomnewgroupe" id="nomnewgroupe" maxlength='25' /><br><br>
              <form>
                <colums>
                  <column>
                    <input class="input" type="text" placeholder="Recherche une personne" style="margin-top:1%;width: 50%;" />
                  </column>
                  <column>
                    <button type"submit" style="background-color:white; border: 1px solid white; margin-top:1%;font-size: 20px;margin-right:10%;"><i class="fas fa-search"></i></button>
                  </column>
                </colums>
              </form>

              <br /><br />
              {%for user in users%}
              {%if user['_id']!=sessionId%}
              <input type="checkbox" name="{{user['_id']}}" id="pseudo" />&nbsp;&nbsp;<label for="pseudo">{{user['pseudo']}}</label><br><br />
              {%endif%}
              {%endfor%}
            </section>
            <footer class="modal-card-foot">
              <button type="submit" onclick="divnewgroupclose()" class="button is-success">Créer le groupe</button>
              <button onclick="divnewgroupclose(event); return false;" class="button">Annuler</button>
            </footer>
          </form>
        </div>
      </div>


      <table class="table is-narrow">
        <tbody>
          <!-- div pour le groupe -->
          {%for content in grpUtilisateur%}
          <tr>
            <td>
              <div style="margin-bottom: 5%;font-size: 20px;">
                <!-- lien vers le 1er groupe (ne marche pas) en gras car c'est le groupe sur lequel on est  -->


                <a class="liengroupe {%if content['_id']|string==idgroupe%}current{%endif%}" href="{{url_for('messages', idGroupe=content['_id'])}}">
                  {{content['nom']}}
                </a>

              </div>
            </td>
          </tr>

          {%endfor%}
      </table>
    </div>
    <!-- fin de la div pour les noms de tt les groupes -->
    {% if msgDb != None %}
    <!-- debut de la div pour la partie de droite avec le nom du groupe ouvert avec les messages -->
    <div id="titreetmsg" style="margin-right: 2%;margin-bottom:2%;">
      <!-- debut de la div pour la partie haute a droite -->
      <div style="display: flex;align-items: center;justify-content:space-between;border: 1px solid {{session['couleur']}};padding:2%;height:10%;">
        <!-- div avec le nom du groupe et les paticipant -->
        <div class="nomgroupeparticipents">
          <!-- nom du groupe -->
          <p style="font-weight:bold;">{{infogroupe['nom']}}</p>
          <!-- liste des paricipant -->
          <p>
            {%for content in infoUtilisateurs%} {{content['pseudo']}}, {%endfor%}
          </p>
        </div>
        <i onclick="divoptionopen()" class="fas fa-ellipsis-v" style="color:black;font-size: 20px;margin-bottom:5px;"></i>
        <div class="modal" id="option">
          <div class="modal-background"></div>
          <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Options</p>
              <button onclick="divoptionclose()" class="delete" aria-label="close"></button>
            </header>
            <form action="{{url_for('createGroupe')}}" method="POST" autocomplete="off">
              <section class="modal-card-body">
                <form>
                  <colums>
                    <column>
                      <input class="input" type="text" placeholder="Rechercher..." style="margin-top:1%;width: 70%;" />
                    </column>
                    <column>
                      <button type"submit" style="background-color:white; border: 1px solid white; margin-top:1%;font-size: 20px;margin-right:10%;"><i class="fas fa-search"></i></button>
                    </column>
                  </colums>
                </form>

              </section>
              <footer class="modal-card-foot">
                <button type="submit" onclick="divnewgroupclose()" class="button is-success">Créer le groupe</button>
                <button onclick="divoptionclose(); return false;" class="button">Annuler</button>
              </footer>
            </form>
          </div>
        </div>
      </div>
      <!-- div avec les message, le overflow est activer pour pouvoir defiler tt les msg -->
      <div id="messages" style="box-sizing: border-box;overflow-y: auto;height:80%;border: 1px solid {{session['couleur']}};padding:2%;">
        {% for content in msgDb%}
        <!--Pour chaque message -->
        {%if content['id-utilisateur']==sessionId%}
        <div class="moimsg" style="border: 2px solid {{session['couleur']}};margin-left: 55%;margin-right: 5%;margin-bottom: 2%;border-radius: 10px;padding-top: 3%;padding-left: 3%;padding-right: 3%;padding-bottom: 2%;"
          id="{{content['date-envoi'].year}}-{{content['date-envoi'].month}}-{{content['date-envoi'].day}}T{{content['date-envoi'].hour}}:{{content['date-envoi'].minute}}:{{content['date-envoi'].second}}.{{content['date-envoi'].microsecond}}Z">
          {%else%}
          <div class="participantmsg"
            id="{{content['date-envoi'].year}}-{{content['date-envoi'].month}}-{{content['date-envoi'].day}}T{{content['date-envoi'].hour}}:{{content['date-envoi'].minute}}:{{content['date-envoi'].second}}.{{content['date-envoi'].microsecond}}Z"
            style="  margin-left: 5%;margin-right: 55%;margin-bottom: 2%;border-radius: 20px;padding: 2%;padding-left: 3%;padding-right: 3%;background-color:#8dd7cf;">
            {%endif%}
            <div style="display: flex;align-items: center;justify-content:space-between;">
              <p style="font-weight: bold;margin:0px">{%for useurs in infoUtilisateurs %}{%if useurs['_id']==content['id-utilisateur']%}{{useurs['pseudo']}}{%endif%}{%endfor%}</p>
              <div class="navbar-item has-dropdown is-hoverable">
                <div class="navbar-link">
                </div>
                <div class="navbar-dropdown">
                  {%if content['id-utilisateur']==sessionId%}
                  <div class="navbar-item">
                    <button value="{{content['_id']}}" onclick="reponseMsg(value)" class="button is-success is-outlined is-small">
                      <span class="icon is-small">
                        <i class="fas fa-reply"></i>
                      </span>
                      <span>répondre</span>
                    </button>
                    <input type="hidden" id="contenu{{content['_id']}}" value="{{content['contenu']}}" />
                  </div>
                  <div class="navbar-item">
                    <form method="post" class="supprimer" id="suppressionMsg" onsubmit="supprimer(event); return false;">
                      <input type='hidden' name="msgSuppr" value="{{content['_id']}}" />
                      <button type="submit" class="button is-danger is-outlined is-small">
                        <span>Supprimer</span>
                        <span class="icon is-small">
                          <i class="fas fa-times"></i>
                        </span>
                      </button>
                    </form>
                  </div>
                  {%else%}
                  <div class="navbar-item">
                    <button value="{{content['_id']}}" onclick="reponseMsg(value)" class="button is-success is-outlined is-small">
                      <span class="icon is-small">
                        <i class="fas fa-reply"></i>
                      </span>
                      <span>répondre</span>
                    </button>
                    <input type="hidden" id="contenu{{content['_id']}}" value="{{content['contenu']}}" />
                  </div>
                  {%endif%}
                </div>
              </div>
            </div>
            <br>
            <p style="margin:0px">
              {{content['contenu']}}{%if "rep"in content%} en réponse à : {{content['rep']['contenu']}}{%endif%}
              <!--On affiche le contenu du message -->
            </p>
            <br>
            {%if content['id-utilisateur']==sessionId%}
            <div style="display: flex;align-items: center;justify-content:space-evenly;">
              <button value="{{content['_id']}}" onclick="reponseMsg(value)" class="button is-success is-outlined is-small">
                <span class="icon is-small">
                  <i class="fas fa-reply"></i>
                </span>
                <span>répondre</span>
              </button>
              <input type="hidden" id="contenu{{content['_id']}}" value="{{content['contenu']}}" />
              <form method="post" action="/suppressionMsg/" class="supprimer" id="suppressionMsg">
                <input type='hidden' name="msgSuppr" value="{{content['_id']}}" />
                <input type='hidden' name="grp" value="{{idgroupe}}" />
                <button type="submit" class="button is-danger is-outlined is-small">
                  <span>Supprimer</span>
                  <span class="icon is-small">
                    <i class="fas fa-times"></i>
                  </span>
                </button>
              </form>
            </div>
            {%else%}
            <button value="{{content['_id']}}" onclick="reponseMsg(value)" class="button is-success is-outlined is-small">
              <span class="icon is-small">
                <i class="fas fa-reply"></i>
              </span>
              <span>répondre</span>
            </button>
            <input type="hidden" id="contenu{{content['_id']}}" value="{{content['contenu']}}" />

            {%endif%}
            <p class="date" style="margin:0px;text-align:right;">le {{content['date-envoi'].day}}/{{content['date-envoi'].month}} à {{content['date-envoi'].hour}}h{{content['date-envoi'].minute}}</p>


          </div>
          {%endfor%}

          {% endif %}
        </div>
        <div id='champReponse'></div><button onclick="enleverRep()">ne plus répondre</button>
        <!--div dans laquel on affiche le message auquel on répond ne supprimer svp-->
        <button onclick="enleverRep()" id='buttonRep' style="display:none;"></button>
        <form method="post" style="height:10%;display: flex;align-items: center;justify-content:center;margin-top:1%;min-width: 75%;max-width: 75%;" id="messageForm" onsubmit="envoi(event); return false;">
          <i class="fas fa-camera" style="font-size: 20px;"></i>
          <input id='inputMsg' class="input" type="text" placeholder="Envoyer un message" autocomplete='off' name="contenuMessage" style="width: 75%;margin-left: 2%;padding:5px;">
          <input type='hidden' name="group" value="{{idgroupe}}" />
          <input type='hidden' id='reponse' name='reponse' value="None" />
          <button style="background-color:white;border: 0px solid white;" type="submit"><i class="fas fa-arrow-circle-up" style="font-size: 20px;"></i></button>
        </form>
        <!-- fin de la div pour tt ce qui concerne le msg (tt sauf la barre du haut) -->
      </div>
    </div>
</body>

</html>
