<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Messages</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <!-- on inclut la bibliothèque depuis les serveurs de Google -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{{url_for('static',filename='js/message.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='js/menu.js')}}" type="text/javascript"></script>
</head>

<!-- overflow est la barre pour baisser la page, on l enleve pour en mettre que une dans les messages -->

<body style="overflow:hidden;height:100%;width:99%;">
 <!-- debut du bandeau en haut de la page -->
 <div class="bandeau">
  <!-- icone menu en haut a gauche -->
  <div class="menu">
    <img Onclick='divmenu()' alt="menu" src="{{url_for('static',filename='image/menu.png')}}" class="iconebandeau" />
  </div>
  <!-- barre rechercher  -->
  <input type="text" placeholder="Recherche..." style="padding:5px;width: 30%;">

  <div class="profil">
    <!-- icone avatar avec un lien qui va sur la page profil -->
    <a href="{{url_for('profil')}}"><img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="iconebandeau" /></a>
    <!-- barre de progression des XP -->
    <progress value="70" max="100">70 %</progress>
  </div>
  <!-- icone cloche pour les notifs -->
  <img Onclick='divnotif()' alt="notif" src="{{url_for('static',filename='image/cloche.png')}}" class="iconebandeau" />
</div>
<div id="multichoix">
  <!-- chaque div "ligne" correspond a une ligne de la div -->
  <div class="ligne">
    <!-- icone de l'Acceuil -->
    <img alt="home" src="{{url_for('static',filename='image/home.png')}}" class="iconemenu" />
    <!-- lien qui reviens a l'Acceuil -->
    <a href="{{url_for('accueil')}}" class="titremenu">
      Acceuil
    </a>
  </div>
  <!-- la mm chose qu'haut dessus mais pour le lycee -->
  <div class="ligne">
    <img alt="lycee" src="{{url_for('static',filename='image/lycee.png')}}" class="iconemenu" />
    <a href="{{url_for('monlycee')}}" class="titremenu">
      Mon lycée
    </a>
  </div>
  <!-- la mm chose qu'haut dessus mais pour la classe -->
  <div class="ligne">
    <img alt="classe" src="{{url_for('static',filename='image/classe.png')}}" class="iconemenu" />
    <a href="{{url_for('classe')}}" class="titremenu">
      Ma classe
    </a>
  </div>
  <!-- la mm chose qu'haut dessus mais pour la question -->
  <div class="ligne">
    <img alt="question" src="{{url_for('static',filename='image/question.png')}}" class="iconemenu" />
    <a href="{{url_for('question')}}" class="titremenu">
      Poser une question
    </a>
  </div>
  <!-- la mm chose qu'haut dessus mais pour les profs -->
  <div class="ligne">
    <img alt="professeur" src="{{url_for('static',filename='image/prof.png')}}" class="iconemenu" />
    <a href="{{url_for('professeur')}}" class="titremenu">
      Mes professeur
    </a>
  </div>
  <!-- la mm chose qu'haut dessus mais pour les msg pv -->
  <div class="ligne">
    <img alt="messages" src="{{url_for('static',filename='image/msg.png')}}" class="iconemenu" />
    <a href="{{url_for('messages')}}" class="titremenu">
      Messages privés
    </a>
    <p class="nouvnotif">
      &nbsp;&nbsp;!
    </p>
  </div>
  <!-- la mm chose qu'haut dessus mais pour les archives -->
  <div class="ligne">
    <img alt="archives" src="{{url_for('static',filename='image/archives.png')}}" class="iconemenu" />
    <a href="{{url_for('archives')}}" class="titremenu">
      Archives
    </a>
  </div>
  <!-- icone parametre en bas a gauche -->
  <img alt="parametre" src="{{url_for('static',filename='image/parametre.png')}}" class="iconeparametre" />
</div>
<!-- fin de la div sur le coté gauche -->
<!-- debut div a droite qui s'affiche en cliquant sur le boutton cloche -->
<div id="notif">
  <!-- div pour la 1ere notif -->
  <div class="notif1">
    <!-- image de celui qui a generé la notif -->
    <img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="persopubli" />
    <!-- contenue de la notif -->
    <div class="contentnotif">
      <h2>Nouvel atelier d'écriture</h2>
      <p>
        Retrouvez nous tous

      </p>
    </div>
  </div>
  <!-- fin de la notif 1 -->
</div>
<!-- fin de la div pour les notifs -->
<br />
<!-- fin du bandeau en haut de la page -->
  <br />
  <!-- div qui contient tt le reste de la page avec les messages et l'affichage des groupe -->
  <div class="contentmessage">
    <!-- div pour afficher tout les groupes -->
    <div id="nomgroupe">
      <div class="liengroupe">
        <img style="width: 30px;height:auto;margin-bottom:5%;" src="{{url_for('static',filename='image/plus.png')}}" />
      </div>
      <!-- div pour le groupe -->
      {%for content in grpUtilisateur%}
      <div class="groupe">
        <!-- lien vers le 1er groupe (ne marche pas) en gras car c'est le groupe sur lequel on est  -->
        <b><a class="liengroupe" href="{{url_for('messages')}}">
            {{content}}
          </a></b>
      </div>
      {%endfor%}
      <div class="groupe">
        <!-- lien vers le 1er groupe (ne marche pas) en gras car c'est le groupe sur lequel on est  -->
        <b><a class="liengroupe" href="{{url_for('messages')}}">
            Spé 1
          </a></b>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          Spé 2
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          Spé 3
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          Classe
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          LVA
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          LVB
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          Option
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          Potes
        </a>
      </div>
      <div class="groupe">
        <a class="liengroupe" href="{{url_for('messages')}}">
          M. bidule
        </a>
      </div>
    </div>
    <!-- fin de la div pour les noms de tt les groupes -->
    <!-- debut de la div pour la partie de droite avec le nom du groupe ouvert avec les messages -->
    <div id="titreetmsg">
      <!-- debut de la div pour la partie haute a droite -->
      <div class="titregroupe">
        <!-- div avec le nom du groupe et les paticipant -->
        <div class="nomgroupeparticipents">
          <!-- nom du groupe -->
          <h2>Nom du groupe</h2>
          <!-- liste des paricipant -->
          <p>
            Participant 1, Participant 2, Participant 3, Participant 4, Participant 5, Participant 6, Participant 7, ...
          </p>
        </div>
        <!-- les trois petit points a droite -->
        <a href="messages.html"><img src="{{url_for('static',filename='image/3points.png')}}" style="width: 20px;height:auto;margin-bottom:5px;" /></a>
      </div>
      <!-- div avec les message, le overflow est activer pour pouvoir defiler tt les msg -->
      <div class="messages" style="box-sizing: border-box;overflow-y: auto;">
        {% for content in msgDb%} <!--Pour chaque message -->
        <div class="participantmsg" style="background-color:#8dd7cf;">
          <p style="font-weight: bold;margin:0px">{{content['id-utilisateur']}}</p>
          <br>
          <p style="margin:0px">
            {{content['contenu']}} <!--On affiche le contenu du message -->
          </p>
          <br>
          <p class="date" style="margin:0px;text-align:right;">le {{content['date-envoi'].day}}/{{content['date-envoi'].month}} à {{content['date-envoi'].hour}}h{{content['date-envoi'].minute}}</p>
        </div>
        {%endfor%}
        <!-- msg ecrit par moi (a droite) -->
        <div class="moimsg">
          <p style="margin:0px">
            Trop cool le fifty fifty
          </p>
          <br>
          <p class="date" style="margin:0px;text-align:right;">le 20/03 à 17h46</p>
        </div>
      </div>
      <!-- fin de tt les msg -->
      <form class="barreenvoi" id="messageForm" onsubmit="envoi(); return false;">
          <img src="{{url_for('static',filename='image/photo.png')}}" class="iconebarremsg" />
          <input type="text" placeholder="Envoyer un message" autocomplete='off' name="contenuMessage" style="width: 75%;margin-left: 2%;padding:5px;">
          <button style="background-color:white;border: 0px solid white;" type="submit"><img src="{{url_for('static',filename='image/flecheenvoi.png')}}" class="iconebarremsg" /></button>
      </form>
    </div>
    <!-- fin de la div pour la partie de droite -->
  </div>
  <!-- fin de la div pour tt ce qui concerne le msg (tt sauf la barre du haut) -->

</body>

</html>
