<!-- Début publication 1 -->
<div class="box">
  <article class="media">
    <div class="media-left">
      <!-- Image profil utilisateur -->
      <figure class="image is-32x32">
        <img class="is-rounded" src="{%if 'nomImg' in sender and sender['nomImg'] != "" %}{{url_for('userImg', profilImg = sender['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}">
      </figure>
    </div>
    <!-- Contenu publication -->
    <div class="media-content">
      <div class="content">
        <p>
          <!-- Nom ; pseudo ; temps -->
        <div style="display: inline-flex; align-content: space-between;">
          <div style="font-variant: small-caps;">{{sender['nom']}} {{sender['prenom']}}</div>&nbsp<div style="font-style: italic;">@{{sender['pseudo']}}</div>&nbsp<small>31min</small>
        </div>
        <br>
        Sur
        {%if 'titre' in grp%}
        la demande d'aide <a href="{{url_for('comments', idMsg = redirect)}}">{{grp['titre']}}</a>
        {%elif 'nom' in grp%}
        le groupe <a href="{{url_for('page_messages', idGroupe = redirect)}}">{{grp['nom']}}</a>
        {%endif%} <br>
        <!-- Texte publication -->
        <i>{{message['contenu']}}</i>
        </p>
      </div>
    </div>
  </article>
</div>
<!-- Fin publication 1 -->
