<!-- Début publication 1 -->
<div class="box notif" id="{{notif['_id']}}">
  <article class="media">
    <div class="media-left">
      <!-- Image profil utilisateur -->
      <figure class="image is-32x32">
        <img class="is-rounded" src="{%if 'nomImg' in notif['sender'] and notif['sender']['nomImg'] != "" %}{{url_for('userImg', profilImg = notif['sender']['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}">
      </figure>
    </div>
    <!-- Contenu publication -->
    <div class="media-content">
      <div class="content">
          <!-- Nom ; pseudo ; temps -->
          <div style="font-size: 11px;font-variant: small-caps;">{{notif['sender']['nom']}} {{notif['sender']['prenom']}}</div>
        <div style="display: inline-flex; align-content: space-between;">
          <div style="font-size: 11px;font-style: italic;">@{{notif['sender']['pseudo']}}</div>&nbsp&nbsp&nbsp<small>{{notif['temps']}}</small>
        </div>
        <br>
        Sur
        {%if 'titre' in notif['groupe']%}
        la demande d'aide <a onclick="supprNotif('{{notif['_id']}}')" href="{{url_for('comments', idMsg = notif['id_groupe'])}}">{{notif['groupe']['titre']}}</a>
        {%elif 'nom' in notif['groupe']%}
        le groupe <a onclick="supprNotif('{{notif['_id']}}')" href="{{url_for('page_messages', idGroupe = notif['id_groupe'])}}">{{notif['groupe']['nom']}}</a>
        {%endif%} <br>
        <!-- Texte publication -->
        <p>
          <i>
            {%if 'audio' in notif['message'] and notif['message']['audio'] == true %}
            <i class="fas fa-volume-up"></i> Message Vocal
            {%elif 'image' in notif['message'] and notif['message']['image'] != '' %}
            <i class="fas fa-image"></i> {{notif['message']['original-contenu']}}
            {%else%}
            {{notif['message']['original-contenu']}}
            {%endif%}
            {%if similar == 1%}
            et 1 autre {%if 'titre' in notif['groupe']%}reponse{%elif 'nom' in notif['groupe']%}message{%endif%}
            {%elif similar > 1%}
            et {{similar}} autres {%if 'titre' in notif['groupe']%}reponses{%elif 'nom' in notif['groupe']%}messages{%endif%}
            {%endif%}
          </i>
        </p>
      </div>
    </div>
    <div style="display:flex; flex-direction:column;">
          <button onclick="supprNotif('{{notif['_id']}}')" class="delete" aria-label="delete"></button>
    </div>
  </article>
</div>
<!-- Fin publication 1 -->
