<!DOCTYPE html>
<html lang="fr">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Profile</title>
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <script src="{{url_for('static',filename='js/menuprofile.js')}}"></script>
</head>

<body>
  <div class="bandeau">
    <div class="menu">
      <img Onclick='divmenu()' alt="menu" src="{{url_for('static',filename='image/menu.png')}}" class="iconebandeau" />
    </div>

    <input type="text" placeholder="Recherche..." style="padding:5px;">
    <img Onclick='divnotif()' alt="notif" src="{{url_for('static',filename='image/cloche.png')}}" class="iconebandeau" />
  </div>
  <div id="page">
    <div id="multichoix">
      <div class="ligne">
        <img alt="parametre" src="{{url_for('static',filename='image/parametre.png')}}" class="iconemenu" />
        <a href="parametre.html" class="titremenu">
          Reglage
        </a>
      </div>
      <div class="ligne">
        <img alt="home" src="{{url_for('static',filename='image/home.png')}}" class="iconemenu" />
        <a href="index.html" class="titremenu">
          Acceuil
        </a>
      </div>
      <div class="ligne">
        <img alt="amis proche" src="{{url_for('static',filename='image/amis.png')}}" class="iconemenu" />
        <a href="amis.html" class="titremenu">
          Amis proches
        </a>
      </div>
      <div class="ligne">
        <img alt="historique" src="{{url_for('static',filename='image/historique.png')}}" class="iconemenu" />
        <a href="historique.html" class="titremenu">
          Historique
        </a>
      </div>
      <div class="ligne">
        <img alt="enregistements" src="{{url_for('static',filename='image/baniere.png')}}" class="iconemenu" />
        <a href="enregistements.html" class="titremenu">
          Enregistrements
        </a>
      </div>
      <div class="ligne">
        <img alt="se deconnecter" src="{{url_for('static',filename='image/deconnecter.png')}}" class="iconemenu" />
        <a href="deconnexion.html" class="titremenu">
          Se déconnecter
        </a>
      </div>

    </div>
    <div id="notif">
      <div class="notif1">
        <img alt="avatar" src="{{url_for('static',filename='image/avatar.png')}}" class="persopubli" />
        <div class="contentnotif">
          <h2>Nouvel atelier d'écriture</h2>
          <p>
            Retrouvez nous tous

          </p>
        </div>
      </div>
    </div>
    <br />
    <div class="page">
      <br />
      <br />
      <br />
      <div class="ligne1profile">
        <div class="photoprofile">
          <img alt="user" src="{{url_for('static',filename='image/user.png')}}" style="width:80px; height:auto;" />
          <img alt="appareil photo" src="{{url_for('static',filename='image/photo.png')}}" style="margin-left:8%;width:40px; height:auto;" />
        </div>
        <progress value="70" max="100">70 %</progress>

      </div>
      <br />
      <br />
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="user" src="{{url_for('static',filename='image/editprofile.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Nom
        </p>
        <p>
          Exemple EXEMPLE
        </p>
      </div>
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="presentateur" src="{{url_for('static',filename='image/presentateur.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Lycée/Classe
        </p>
        <p>
          Exemple
        </p>
      </div>
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="specialite" src="{{url_for('static',filename='image/editprofile.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Spécialités
        </p>
        <p>
          Exemple, exemple, exemple
        </p>
      </div>
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="langues" src="{{url_for('static',filename='image/web.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Langues vivantes
        </p>
        <p>
          LVA : Exemple
        </p>
        <p>
          LVB : Exemple
        </p>
      </div>
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="option" src="{{url_for('static',filename='image/livre.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Option(s)
        </p>
        <p>
          Exemple
        </p>
      </div>
      <div class="contentinfoprofile">

        <p class="themeligne">
          <img alt="mail" src="{{url_for('static',filename='image/trombone.png')}}" class="iconeinfoprofile" />
          &nbsp;&nbsp;Adresse mail ENT
        </p>
        <p>
          exemple@monlycee.net
        </p>
      </div>
    </div>

  </div>

</body>

</html>
