<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Profil</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <script src="{{url_for('static',filename='js/profil.js')}}" type="text/javascript"></script>
  <!-- importation du JS pour afficher et enlever les div -->
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  <!-- Bandeau -->
  {% include "bandeau.html" %}
  <!-- Début de la div pour la page avec les infos -->
  <div class="page"></div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <!-- Espace photo de profil -->
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <img alt="user" src="{{url_for('userImg', profilImg = profilUtilisateur['_id'])}}" style="width:80px; height:auto;" />
      <form method="post" action="{{url_for('updateImg')}}" enctype='multipart/form-data'>
        <input type="file" accept="image/png, image/jpeg" name="Newpicture" required />
        <button type="submit">
          <i class="fas fa-camera" style="margin-left:8%;font-size:40px;"></i>
        </button>
      </form>
    </div>
    <div class="column"></div>
    <div class="columns">
      <!-- Barre de progression -->
      <div class="column">
        <progress value="70" max="100">70%</progress>
      </div>
      <div class="column">
        <p>
          70XP
        </p>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
  <br />
  <br />
  <br />
  <div style="display: flex;align-items: center;justify-content:space-evenly;">
   <!-- Début informations -->
    <div>
      <!-- Informations puliques -->
      <form method="POST" action="/updateprofile/">
      <div style="font-weight: bold; font-size:large;">Informations publiques :</div>
      <!-- Début tableau informations publiques -->
      <table class="table is-narrow">
        <tbody>
          <!-- Nom et prénom -->
          <tr>
            <td>
              <i class="fas fa-user-alt" style="font-size:25px;"></i>
                &nbsp;&nbsp;Nom et Prenom
            </td>
            <td>
              {{profilUtilisateur['nom']}} {{profilUtilisateur['prenom']}}
            </td>
          </tr>
          <!-- Pseudo -->
            <tr>
              <td>
                <i class="far fa-smile-wink" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Pseudo
              </td>
              <td>
                <div id="contentpseudo">
                  <input type="hidden" value="{{profilUtilisateur['pseudo']}}" name="pseudo"/>
                  <p onClick='input("pseudo")' id="pseudo">{{profilUtilisateur['pseudo']}}</p>
                </div>
              </td>
            </tr>
          <!-- Lycée et classe -->
          <tr>
            <td>
              <i class="fas fa-graduation-cap" style="font-size:25px;"></i>
                &nbsp;&nbsp;Lycée/Classe
            </td>
            <td>
              {{profilUtilisateur['lycee']}}/{{profilUtilisateur['classe']}}
            </td>
          </tr>
          <!-- Langues -->
            <tr>
              <td>
                <i class="fas fa-globe" style="font-size:25px;"></i>
                    &nbsp;&nbsp;Langue(s) vivante(s)
              <td>
                <div id="contentlangues">
                  <input type="hidden" value="{{profilUtilisateur['langues']}}" name="langues"/>
                  <p onClick="input('langues')" id="langues">{{profilUtilisateur['langues']}}{%if profilUtilisateur['langues']==""%}Non-renseigné{%endif%}</p>
                </div>
              </td>
            </tr>
            <!-- Options -->
          <tr>
            <td>
              <i class="fas fa-book" style="font-size:25px;"></i>
                &nbsp;&nbsp;Option(s)
            </td>
            <td>
              <div id="contentoptions">
                <input type="hidden" value="{{profilUtilisateur['options']}}" name="options"/>
                <p onClick="input('options')" id="options">
                  {{profilUtilisateur['options']}}{%if profilUtilisateur['options']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          <!-- Spécialités -->
          <tr>
            <td>
              <i class="fas fa-book-open" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Spécialités
            </td>
            <td>
              <div id="contentspe">
                <input type="hidden" value="{{profilUtilisateur['spe']}}" name="spe"/>
                <p onClick="input('spe')" id="spe">
                  {{profilUtilisateur['spe']}}{%if profilUtilisateur['spe']==""%}Non-renseigné{%endif%}
                </p>
              </div>
            </td>
          </tr>
          {%for element in profilUtilisateur['elementPublic']%}
          {%if element=="caractere"%}
          <tr>
            <td>
              <i class="fas fa-user" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Caractère
            </td>
            <td>
              <div class="select" >
                <select name="caractere">
                  <option value="joy" {%if profilUtilisateur['caractere']=="joy"%}selected{%endif%}>Joyeux.se</option>
                  <option value="tr"{%if profilUtilisateur['caractere']=="tr"%}selected{%endif%}>Triste</option>
                  <option value="det"{%if profilUtilisateur['caractere']=="det"%}selected{%endif%}>Déterminé.e</option>
                  <option value="fat"{%if profilUtilisateur['caractere']=="fat"%}selected{%endif%}>Fatigué.e</option>
                  <option value="dro"{%if profilUtilisateur['caractere']=="dro"%}selected{%endif%}>Drôle</option>
                  <option value="ti"{%if profilUtilisateur['caractere']=="ti"%}selected{%endif%}>Timide</option>
                  <option value="crea"{%if profilUtilisateur['caractere']=="crea"%}selected{%endif%}>Créatif.ve</option>
                  <option value="ser"{%if profilUtilisateur['caractere']=="ser"%}selected{%endif%}>Sérieux.se</option>
                  <option value="op"{%if profilUtilisateur['caractere']=="op"%}selected{%endif%}>Optimiste</option>
                  <option value="pe"{%if profilUtilisateur['caractere']=="pe"%}selected{%endif%}>Pessimiste</option>
                  <option value="ro"{%if profilUtilisateur['caractere']=="ro"%}selected{%endif%}>Romantique</option>
                </select>
              </div>
            </td>
            <td>
              <div class="select" >
                <select name="caractereVisibilite">
                  <option value="pv">privé</option>
                  <option value="pb"selected>public</option>
                </select>
              </div>
            </td>
          </tr>
          {%elif element=="birth_date"%}
          <tr>
            <td>
              <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
                &nbsp;&nbsp;Date de naissance
            </td>
            <td>
              {{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}
            </td>
            <td>
              <div class="select" >
                <select name="birth_dateVisibilite">
                  <option value="pv">privé</option>
                  <option value="pb"selected>public</option>
                </select>
              </div>
            </td>
          </tr>
          {%else%}
          <tr>
            <td>
              <i {%if element=="email"%}class="fas fa-at"{%endif%}{%if element=="telephone"%}class="fas fa-phone-alt"{%endif%}{%if element=="interets"%}class="far fa-smile-beam"{%endif%} style="font-size:25px;"></i>
                  &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
            </td>
            <td>
              <div id="content{{element}}">
                <input type="hidden" name="{{element}}" type="{{element}}" value="{{profilUtilisateur[element]}}" />
                <p id="{{element}}" onClick="input('{{element}}')">{{profilUtilisateur[element]}}{%if profilUtilisateur[element]==""%}Non-renseigné{%endif%}</p>
              </div>
            </td>
            <td>
              <div class="select" >
                <select name="{{element}}Visibilite">
                  <option value="pv">privé</option>
                  <option value="pb" selected>public</option>
                </select>
              </div>
            </td>
          </tr>
          {%endif%}
          {%endfor%}
        </tbody>
      </table>
      <!-- Fin tableau informations publiques -->
      <!-- Informations privées -->
      <div style="font-weight: bold; font-size:large;">Informations privées :</div>
      <!-- Début tableau informations privées -->
      <table class="table is-narrow">
        <tbody>
        {%for element in profilUtilisateur['elementPrive']%}
        {%if element=="caractere"%}
        <tr>
          <td>
            <i class="fas fa-user" style="font-size:25px;"></i>
                &nbsp;&nbsp;Caractère
          </td>
          <td>
            <div class="select" >
              <select name="caractere">
                <option value="joy" {%if profilUtilisateur['caractere']=="joy"%}selected{%endif%}>Joyeux.se</option>
                <option value="tr"{%if profilUtilisateur['caractere']=="tr"%}selected{%endif%}>Triste</option>
                <option value="det"{%if profilUtilisateur['caractere']=="det"%}selected{%endif%}>Déterminé.e</option>
                <option value="fat"{%if profilUtilisateur['caractere']=="fat"%}selected{%endif%}>Fatigué.e</option>
                <option value="dro"{%if profilUtilisateur['caractere']=="dro"%}selected{%endif%}>Drôle</option>
                <option value="ti"{%if profilUtilisateur['caractere']=="ti"%}selected{%endif%}>Timide</option>
                <option value="crea"{%if profilUtilisateur['caractere']=="crea"%}selected{%endif%}>Créatif.ve</option>
                <option value="ser"{%if profilUtilisateur['caractere']=="ser"%}selected{%endif%}>Sérieux.se</option>
                <option value="op"{%if profilUtilisateur['caractere']=="op"%}selected{%endif%}>Optimiste</option>
                <option value="pe"{%if profilUtilisateur['caractere']=="pe"%}selected{%endif%}>Pessimiste</option>
                <option value="ro"{%if profilUtilisateur['caractere']=="ro"%}selected{%endif%}>Romantique</option>
              </select>
            </div>
          </td>
          <td>
            <div class="select" >
              <select name="caractereVisibilite">
                <option value="pv"selected>privé</option>
                <option value="pb">public</option>
              </select>
            </div>
          </td>
        </tr>
        {%elif element=="birth_date"%}
        <tr>
          <td>
            <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
              &nbsp;&nbsp;Date de naissance
          </td>
          <td>
            {{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}
          </td>
          <td>
            <div class="select" >
              <select name="birth_dateVisibilite">
                <option value="pv"selected>privé</option>
                <option value="pb">public</option>
              </select>
            </div>
          </td>
        </tr>
        {%else%}
        <tr>
          <td>
            <i {%if element=="email"%}class="fas fa-at"{%endif%}{%if element=="telephone"%}class="fas fa-phone-alt"{%endif%}{%if element=="interets"%}class="far fa-smile-beam"{%endif%} style="font-size:25px;"></i>
                &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="birth_date"%}date de naissance{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
          </td>
          <td>
            <div id="content{{element}}">
              <input type="hidden" name="{{element}}" type="{{element}}" value="{{profilUtilisateur[element]}}" />
              <p id="{{element}}" onClick="input('{{element}}')">{%if element=="birth_date"%}{{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}{%else%}{{profilUtilisateur[element]}}{%endif%}{%if profilUtilisateur[element]==""%}Non-renseigné{%endif%}</p>
            </div>
          </td>
          <td>
            <div class="select" >
              <select name="{{element}}Visibilite">
                <option value="pv"selected>privé</option>
                <option value="pb">public</option>
              </select>
            </div>
          </td>
        </tr>
        {%endif%}
        {%endfor%}
          <!-- Bouton pour valider les informations -->
            <tr>
              <td>
                <br />
                <input class="button" type="submit" />
              </td>
            </tr>
        </tbody>
      </table>
      <!-- Fin tableau informations privées -->
    </form>
   </div>
   <!-- Fin informations -->
   <!-- Début choix couleurs -->
    <div>
      <form action="{{url_for('changeTheme')}}" method="POST">
        <!-- Titre choix couleurs -->
        <label for"color-select">Choisir une couleur de thème :</label><br />
        <!-- Couleur 1 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#D50000" {%if session['couleur']=='#D50000'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#D50000;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 2 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#039be5" {%if session['couleur']=='#039be5'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#039be5;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 3 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#0b8043" {%if session['couleur']=='#0b8043'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#0b8043;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 4 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#3f51b5" {%if session['couleur']=='#3f51b5'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#3f51b5;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 5 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#8e24aa" {%if session['couleur']=='#8e24aa'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#8e24aa;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 6 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="#f5511d" {%if session['couleur']=='#f5511d'%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#f5511d;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <br />
        <!-- Bouton pour valider le choix de la couleur -->
        <input class="button" type="submit" value="Valider" />
      </form>
    </div>
    <!-- Fin choix couleurs -->

  </div>
<!-- fin de la page -->
</body>

</html>
