<!DOCTYPE html>
<html lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>profil</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <!-- importation du JS pour afficher et enlever les div -->

</head>

<body>
  {% include "bandeau.html" %}
  <!-- debut de la div pour la page avec les infos -->
  <div class="page"></div>
  <br />
  <br />
  <br />
  <br />
  <br />
  <br />
  <div class="columns">
    <div class="column"></div>
    <div class="column">
      <img alt="user" src="{{url_for('static',filename='image/sans_profil.png')}}" style="width:80px; height:auto;" />
      <i class="fas fa-camera" style="margin-left:8%;font-size:40px;"></i>
    </div>
    <div class="column"></div>
    <div class="columns">
      <div class="column">
        <progress value="70" max="100">70 %</progress>
      </div>
      <div class="column">
        <p>
          70XP
        </p>
      </div>
    </div>
    <div class="column">
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="column is-half is-offset-one-quarter">
      <table class="table is-narrow">
        <tbody>
          <tr>
            <td>
              <columns>
                <column>
                  <i class="fas fa-user-alt" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Nom et Prenom
                </column>
              </columns>
            </td>
            <td>
              Prenom NOM
            </td>
          </tr>
          <tr>
            <td>
              <columns>
                <column>
                  <i class="fas fa-graduation-cap" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Lycée/Classe
                </column>
              </columns>
            </td>
            <td>
              BP/1G10
            </td>
          </tr>
          <tr>
            <td>
              <columns>
                <column>
                  <i class="far fa-smile-wink" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Pseudo
                </column>
              </columns>
            </td>
            <td>
              Pseudo
            </td>
          </tr>
          <tr>
            <td>
              <columns>
                <column>
                  <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Date de naissance
                </column>
              </columns>
            </td>
            <td>
              01/01/2000
            </td>
          </tr>
          <tr>
            <td>
              <columns>
                <column>
                  <i class="fas fa-at" style="font-size:25px;"></i>
                  &nbsp;&nbsp;Adresse mail
                </column>
              </columns>
            </td>
            <td>
              exemple@gmail.com
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  <!-- fin de la page -->
</body>

</html>
