<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
{% include 'head.html' with context %}
  <title>Profil</title>
  <!-- importation du JS pour afficher et enlever les div -->
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
    @media screen and (max-width:1023px){
      table, thead, tbody, th, td, tr {
        display: block;
      }
      thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
      }
      tr {
        border: 1px solid #ccc;
        margin-bottom: 5%;
      }
      td {
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 200px;
      }
    }
  </style>
</head>

<body>
  <!-- Bandeau -->
  {% include 'bandeau2.html' %}
  <!-- Photo de profil -->
  <div class="modal" id="replaceImg" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Photo de profil</p>
      </header>
      <form action="{{url_for('updateImg')}}" enctype='multipart/form-data' id="updatePhoto" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type="file" accept="image/png, image/jpeg" name="Newpicture" required />
          <input type="hidden" name="but" value="replace" required />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Remplacer</button>
      </form>
      <form method="post" action="{{url_for('updateImg')}}" autocomplete="off" id="deletePhoto">
        <input type="hidden" name="but" value="remove" required />
        <button type="submit" class="button">
          Supprimer photo profil
        </button>
      </form>
      <button onclick="updateImgClose(); return false;" class="button">Annuler</button>
      </footer>
    </div>
  </div>
  <div class="modal" id="validationUser" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Validation</p>
      </header>
      <form onsubmit="validerUser(event); return false;" id="ValUserForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idValidé" name='idValidé' value="{{profilUtilisateur['_id']}}" />
          <input type='hidden' name="demandeBut" value="ValUser" />
          <select name="motif">
            <option value="abusif">Signalement abusif</option>
            <option value="justifie">Justifié</option>
          </select>
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Valider</button>
          <button onclick="validerUserClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <!-- Début de la div pour la page avec les infos -->
  <div class="page"></div>
  <br />
  <br />
  <!-- Espace photo de profil -->
  <div style="display:flex;align-items: center;justify-content:space-evenly;">
    <img alt="user" onclick="updateImgOpen();"
      src="{%if 'nomImg' in profilUtilisateur and profilUtilisateur['nomImg'] != "" %}{{url_for('userImg', profilImg = profilUtilisateur['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"
      style="width:64px; height:64px;object-fit: cover;border-radius:50%; cursor: pointer;" />
    <div class="ordiFlexTelBlock" style="align-items:flex-start;justify-content:center;">
      <!-- Barre de progression -->
      <progress class="progress is-info" value={{xplvl}} max="100" style="width:250px;">70%</progress>
      &nbsp;&nbsp;&nbsp;&nbsp;
      <p>
        NIV:
        {{niv}}
        XP :
        {{xp}}
      </p>
    </div>
  </div>
  <br />
  <br />
  <br />
  <div class="ordiFlexTelBlock" style="align-items: center;justify-content:space-evenly;margin:0% 2%;">
    <!-- Début informations -->
    <div>
      <!-- Informations puliques -->
      <form method="POST" action="/updateprofile/">
        <div style="font-weight: bold; font-size:large;">Informations publiques :</div>
        <br />
        <!-- Début tableau informations publiques -->
        <table class="table is-narrow">
          <tbody>
            <!-- Nom et prénom -->
            <tr>
              <td>
                <i class="fas fa-user-alt" style="font-size:25px;"></i>
                &nbsp;&nbsp;Nom et Prenom
              </td>
              <td>
                {{profilUtilisateur['nom']}} {{profilUtilisateur['prenom']}}
              </td>
            </tr>
            <!-- Pseudo -->
            <tr>
              <td>
                <i class="far fa-smile-wink" style="font-size:25px;"></i>
                &nbsp;&nbsp;Pseudo
              </td>
              <td>
                <div id="contentpseudo">
                  <input type="hidden" value="{{profilUtilisateur['pseudo']}}" name="pseudo" />
                  <p {% if user['SanctionEnCour']!="Spec" and user['SanctionEnCour']!="SpecProfil"%}onClick="input('pseudo')" {%endif%} id="pseudo">{{profilUtilisateur['pseudo']}}</p>
                </div>
              </td>
            </tr>
            <!-- Lycée et classe -->
            <tr>
              <td>
                <i class="fas fa-graduation-cap" style="font-size:25px;"></i>
                &nbsp;&nbsp;Lycée/Classe
              </td>
              <td>
                {{profilUtilisateur['lycee']}}/{{profilUtilisateur['classe']}}
              </td>
            </tr>
            <!-- Langues -->
            <tr>
              <td>
                <i class="fas fa-globe" style="font-size:25px;"></i>
                &nbsp;&nbsp;Langue(s) vivante(s)
              <td>
                <div id="contentlangues">
                  <!-- LV1 -->
                  <div class="select" class="selectProfil">
                    <select name="lv1">
                      <option value="none" {%if profilUtilisateur['langues'][0]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="lv1-ang" {%if profilUtilisateur['langues'][0]=="lv1-ang"%}selected{%endif%}>LV1 Anglais</option>
                      <option value="lv1-ang-euro" {%if profilUtilisateur['langues'][0]=="lv1-ang-euro"%}selected{%endif%}>LV1 Anglais Euro</option>
                      <option value="lv1-esp" {%if profilUtilisateur['langues'][0]=="lv1-esp"%}selected{%endif%}>LV1 Espagnol</option>
                      <option value="lv1-esp-euro" {%if profilUtilisateur['langues'][0]=="lv1-esp-euro"%}selected{%endif%}>LV1 Espagnol Euro</option>
                      <option value="lv1-all" {%if profilUtilisateur['langues'][0]=="lv1-all"%}selected{%endif%}>LV1 Allemand</option>
                      <option value="lv1-all-euro" {%if profilUtilisateur['langues'][0]=="lv1-all-euro"%}selected{%endif%}>LV1 Allemand Euro</option>
                      <option value="lv1-por" {%if profilUtilisateur['langues'][0]=="lv1-por"%}selected{%endif%}>LV1 Portugais</option>
                      <option value="lv1-por-euro" {%if profilUtilisateur['langues'][0]=="lv1-por-euro"%}selected{%endif%}>LV1 Portugais Euro</option>
                      <option value="lv1-it" {%if profilUtilisateur['langues'][0]=="lv1-it"%}selected{%endif%}>LV1 Italien</option>
                      <option value="lv1-it-euro" {%if profilUtilisateur['langues'][0]=="lv1-it-euro"%}selected{%endif%}>LV1 Italien Euro</option>
                      <option value="lv1-chi" {%if profilUtilisateur['langues'][0]=="lv1-chi"%}selected{%endif%}>LV1 Chinois</option>
                      <option value="lv1-ru" {%if profilUtilisateur['langues'][0]=="lv1-ru"%}selected{%endif%}>LV1 Russe</option>
                      <option value="lv1-ara" {%if profilUtilisateur['langues'][0]=="lv1-ara"%}selected{%endif%}>LV1 Arabe</option>
                    </select>
                  </div>
                  <!-- LV2 -->
                  <div class="select" class="selectProfil">
                    <select name="lv2">
                      <option value="none" {%if profilUtilisateur['langues'][1]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="lv2-ang" {%if profilUtilisateur['langues'][1]=="lv2-ang"%}selected{%endif%}>LV2 Anglais</option>
                      <option value="lv2-esp" {%if profilUtilisateur['langues'][1]=="lv2-esp"%}selected{%endif%}>LV2 Espagnol</option>
                      <option value="lv2-all" {%if profilUtilisateur['langues'][1]=="lv2-all"%}selected{%endif%}>LV2 Allemand</option>
                      <option value="lv2-por" {%if profilUtilisateur['langues'][1]=="lv2-por"%}selected{%endif%}>LV2 Portugais</option>
                      <option value="lv2-it" {%if profilUtilisateur['langues'][1]=="lv2-it"%}selected{%endif%}>LV2 Italien</option>
                      <option value="lv2-chi" {%if profilUtilisateur['langues'][1]=="lv2-chi"%}selected{%endif%}>LV2 Chinois</option>
                      <option value="lv2-ru" {%if profilUtilisateur['langues'][1]=="lv2-ru"%}selected{%endif%}>LV2 Russe</option>
                      <option value="lv2-ara" {%if profilUtilisateur['langues'][1]=="lv2-ara"%}selected{%endif%}>LV2 Arabe</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Options -->
            <tr>
              <td>
                <i class="fas fa-book" style="font-size:25px;"></i>
                &nbsp;&nbsp;Option(s)
              </td>
              <td>
                <div id="contentoptions">
                  <!-- Option 1 -->
                  <div class="select" class="selectProfil">
                    <select name="option1">
                      <option value="none" {%if profilUtilisateur['options'][0]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="opt-lca-latin" {%if profilUtilisateur['options'][0]=="opt-lca-latin"%}selected{%endif%}>LCA Latin</option>
                      <option value="opt-lca-grec" {%if profilUtilisateur['options'][0]=="opt-lca-grec"%}selected{%endif%}>LCA Grec</option>
                      <option value="opt-lv3-ang" {%if profilUtilisateur['options'][0]=="opt-lv3-ang"%}selected{%endif%}>LV3 Anglais</option>
                      <option value="opt-lv3-esp" {%if profilUtilisateur['options'][0]=="opt-lv3-esp"%}selected{%endif%}>LV3 Espagnol</option>
                      <option value="opt-lv3-all" {%if profilUtilisateur['options'][0]=="opt-lv3-all"%}selected{%endif%}>LV3 Allemand</option>
                      <option value="opt-lv3-por" {%if profilUtilisateur['options'][0]=="opt-lv3-por"%}selected{%endif%}>LV3 Portugais</option>
                      <option value="opt-lv3-it" {%if profilUtilisateur['options'][0]=="opt-lv3-it"%}selected{%endif%}>LV3 Italien</option>
                      <option value="opt-lv3-ru" {%if profilUtilisateur['options'][0]=="opt-lv3-ru"%}selected{%endif%}>LV3 Russe</option>
                      <option value="opt-lv3-ara" {%if profilUtilisateur['options'][0]=="opt-lv3-ara"%}selected{%endif%}>LV3 Arabe</option>
                      <option value="opt-lv3-chi" {%if profilUtilisateur['options'][0]=="opt-lv3-chi"%}selected{%endif%}>LV3 Chinois</option>
                      <option value="opt-eps" {%if profilUtilisateur['options'][0]=="opt-eps"%}selected{%endif%}>EPS</option>
                      <option value="opt-arts" {%if profilUtilisateur['options'][0]=="opt-arts"%}selected{%endif%}>Arts</option>
                      <option value="opt-musique" {%if profilUtilisateur['options'][0]=="opt-musique"%}selected{%endif%}>Musique</option>
                      {% if profilUtilisateur['classe']!='1G' and profilUtilisateur['classe']!='TG' and profilUtilisateur['classe']!='1STMG' and profilUtilisateur['classe']!='TSTMG' %}
                      <option value="opt-mg" {%if profilUtilisateur['options'][0]=="opt-mg"%}selected{%endif%}>Management et gestion</option>
                      <option value="opt-ss" {%if profilUtilisateur['options'][0]=="opt-ss"%}selected{%endif%}>Santé et social</option>
                      <option value="opt-biotech" {%if profilUtilisateur['options'][0]=="opt-biotech"%}selected{%endif%}>Biotechnologies</option>
                      <option value="opt-sl" {%if profilUtilisateur['options'][0]=="opt-sl"%}selected{%endif%}>Sciences et laboratoire</option>
                      <option value="opt-si" {%if profilUtilisateur['options'][0]=="opt-si"%}selected{%endif%}>Sciences de l'Ingénieur</option>
                      <option value="opt-cit" {%if profilUtilisateur['options'][0]=="opt-cit"%}selected{%endif%}>Création et innovation technologiques</option>
                      <option value="opt-ccd" {%if profilUtilisateur['options'][0]=="opt-ccd"%}selected{%endif%}>Création et culture - design</option>
                      {% endif %}
                      {% if profilUtilisateur['classe'][0]=='T' %}
                      <option value="opt-maths-comp" {%if profilUtilisateur['options'][0]=="opt-maths-comp"%}selected{%endif%}>Maths complémentaires</option>
                      <option value="opt-maths-exp" {%if profilUtilisateur['options'][0]=="opt-maths-exp"%}selected{%endif%}>Maths expertes</option>
                      <option value="opt-dgemc" {%if profilUtilisateur['options'][0]=="opt-dgemc"%}selected{%endif%}>Droits et grands enjeux du monde contemporain</option>
                      {% endif %}
                      <option value="opt-equit" {%if profilUtilisateur['options'][0]=="opt-equit"%}selected{%endif%}>Hippologie et équitation</option>
                      <option value="opt-aet" {%if profilUtilisateur['options'][0]=="opt-aet"%}selected{%endif%}>Agronomie-économie-territoires</option>
                      <option value="opt-psc" {%if profilUtilisateur['options'][0]=="opt-psc"%}selected{%endif%}>Pratiques sociales et culturelles</option>
                    </select>
                  </div>
                  <!-- Option 2 -->
                  <div class="select" class="selectProfil">
                    <select name="option2">
                      <option value="none" {%if profilUtilisateur['options'][1]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="opt-lca-latin" {%if profilUtilisateur['options'][1]=="opt-lca-latin"%}selected{%endif%}>LCA Latin</option>
                      <option value="opt-lca-grec" {%if profilUtilisateur['options'][1]=="opt-lca-grec"%}selected{%endif%}>LCA Grec</option>
                      <option value="opt-lv3-ang" {%if profilUtilisateur['options'][1]=="opt-lv3-ang"%}selected{%endif%}>LV3 Anglais</option>
                      <option value="opt-lv3-esp" {%if profilUtilisateur['options'][1]=="opt-lv3-esp"%}selected{%endif%}>LV3 Espagnol</option>
                      <option value="opt-lv3-all" {%if profilUtilisateur['options'][1]=="opt-lv3-all"%}selected{%endif%}>LV3 Allemand</option>
                      <option value="opt-lv3-por" {%if profilUtilisateur['options'][1]=="opt-lv3-por"%}selected{%endif%}>LV3 Portugais</option>
                      <option value="opt-lv3-it" {%if profilUtilisateur['options'][1]=="opt-lv3-it"%}selected{%endif%}>LV3 Italien</option>
                      <option value="opt-lv3-ru" {%if profilUtilisateur['options'][1]=="opt-lv3-ru"%}selected{%endif%}>LV3 Russe</option>
                      <option value="opt-lv3-ara" {%if profilUtilisateur['options'][1]=="opt-lv3-ara"%}selected{%endif%}>LV3 Arabe</option>
                      <option value="opt-lv3-chi" {%if profilUtilisateur['options'][1]=="opt-lv3-chi"%}selected{%endif%}>LV3 Chinois</option>
                      <option value="opt-eps" {%if profilUtilisateur['options'][1]=="opt-eps"%}selected{%endif%}>EPS</option>
                      <option value="opt-arts" {%if profilUtilisateur['options'][1]=="opt-arts"%}selected{%endif%}>Arts</option>
                      {% if profilUtilisateur['classe']!='1G' and profilUtilisateur['classe']!='TG' and profilUtilisateur['classe']!='1STMG' and profilUtilisateur['classe']!='TSTMG' %}
                      <option value="opt-mg" {%if profilUtilisateur['options'][1]=="opt-mg"%}selected{%endif%}>Management et gestion</option>
                      <option value="opt-ss" {%if profilUtilisateur['options'][1]=="opt-ss"%}selected{%endif%}>Santé et social</option>
                      <option value="opt-biotech" {%if profilUtilisateur['options'][1]=="opt-biotech"%}selected{%endif%}>Biotechnologies</option>
                      <option value="opt-sl" {%if profilUtilisateur['options'][1]=="opt-sl"%}selected{%endif%}>Sciences et laboratoire</option>
                      <option value="opt-si" {%if profilUtilisateur['options'][1]=="opt-si"%}selected{%endif%}>Sciences de l'Ingénieur</option>
                      <option value="opt-cit" {%if profilUtilisateur['options'][1]=="opt-cit"%}selected{%endif%}>Création et innovation technologiques</option>
                      <option value="opt-ccd" {%if profilUtilisateur['options'][1]=="opt-ccd"%}selected{%endif%}>Création et culture - design</option>
                      {% endif %}
                      {% if profilUtilisateur['classe'][0]=='T' %}
                      <option value="opt-maths-comp" {%if profilUtilisateur['options'][1]=="opt-maths-comp"%}selected{%endif%}>Maths complémentaires</option>
                      <option value="opt-maths-exp" {%if profilUtilisateur['options'][1]=="opt-maths-exp"%}selected{%endif%}>Maths expertes</option>
                      <option value="opt-dgemc" {%if profilUtilisateur['options'][1]=="opt-dgemc"%}selected{%endif%}>Droits et grands enjeux du monde contemporain</option>
                      {% endif %}
                      <option value="opt-equit" {%if profilUtilisateur['options'][1]=="opt-equit"%}selected{%endif%}>Hippologie et équitation</option>
                      <option value="opt-aet" {%if profilUtilisateur['options'][1]=="opt-aet"%}selected{%endif%}>Agronomie-économie-territoires</option>
                      <option value="opt-psc" {%if profilUtilisateur['options'][1]=="opt-psc"%}selected{%endif%}>Pratiques sociales et culturelles</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            <!-- Spécialités -->
            <tr {% if profilUtilisateur['classe']=='2GT' %} style="display: none;" {% endif %}>
              <td>
                <i class="fas fa-book-open" style="font-size:25px;"></i>
                &nbsp;&nbsp;Spécialités
              </td>
              <td>
                <div id="contentspes">
                  <!-- Spé 1 -->
                  <div class="select" class="selectProfil">
                    <select name="spe1">
                      <option value="none" {%if profilUtilisateur['spes'][0]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="spe-art" {%if profilUtilisateur['spes'][0]=="spe-art"%}selected{%endif%}>Spé Arts</option>
                      <option value="spe-hggsp" {%if profilUtilisateur['spes'][0]=="spe-hggsp"%}selected{%endif%}>Spé HGGSP</option>
                      <option value="spe-hlp" {%if profilUtilisateur['spes'][0]=="spe-hlp"%}selected{%endif%}>Spé HLP</option>
                      <option value="spe-ses" {%if profilUtilisateur['spes'][0]=="spe-ses"%}selected{%endif%}>Spé SES</option>
                      <option value="spe-maths" {%if profilUtilisateur['spes'][0]=="spe-maths"%}selected{%endif%}>Spé Mathématiques</option>
                      <option value="spe-pc" {%if profilUtilisateur['spes'][0]=="spe-pc"%}selected{%endif%}>Spé Physique-Chimie</option>
                      <option value="spe-svt" {%if profilUtilisateur['spes'][0]=="spe-svt"%}selected{%endif%}>Spé SVT</option>
                      <option value="spe-nsi" {%if profilUtilisateur['spes'][0]=="spe-nsi"%}selected{%endif%}>Spé NSI</option>
                      <option value="spe-si" {%if profilUtilisateur['spes'][0]=="spe-si"%}selected{%endif%}>Spé Sciences de l'Ingénieur</option>
                      <option value="spe-lca" {%if profilUtilisateur['spes'][0]=="spe-lca"%}selected{%endif%}>Spé LCA</option>
                      <option value="spe-llcer-ang" {%if profilUtilisateur['spes'][0]=="spe-llcer-ang"%}selected{%endif%}>Spé LLCER Anglais</option>
                      <option value="spe-llcer-esp" {%if profilUtilisateur['spes'][0]=="spe-llcer-esp"%}selected{%endif%}>Spé LLCER Espagnol</option>
                      <option value="spe-llcer-all" {%if profilUtilisateur['spes'][0]=="spe-llcer-all"%}selected{%endif%}>Spé LLCER Allemand</option>
                      <option value="spe-llcer-it" {%if profilUtilisateur['spes'][0]=="spe-llcer-it"%}selected{%endif%}>Spé LLCER Italien</option>
                      <option value="spe-bio-eco" {%if profilUtilisateur['spes'][0]=="spe-bio-eco"%}selected{%endif%}>Spé Biologie-écologie</option>
                    </select>
                  </div>
                  <!-- Spé 2 -->
                  <div class="select" class="selectProfil">
                    <select name="spe2">
                      <option value="none" {%if profilUtilisateur['spes'][1]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="spe-art" {%if profilUtilisateur['spes'][1]=="spe-art"%}selected{%endif%}>Spé Arts</option>
                      <option value="spe-hggsp" {%if profilUtilisateur['spes'][1]=="spe-hggsp"%}selected{%endif%}>Spé HGGSP</option>
                      <option value="spe-hlp" {%if profilUtilisateur['spes'][1]=="spe-hlp"%}selected{%endif%}>Spé HLP</option>
                      <option value="spe-ses" {%if profilUtilisateur['spes'][1]=="spe-ses"%}selected{%endif%}>Spé SES</option>
                      <option value="spe-maths" {%if profilUtilisateur['spes'][1]=="spe-maths"%}selected{%endif%}>Spé Mathématiques</option>
                      <option value="spe-pc" {%if profilUtilisateur['spes'][1]=="spe-pc"%}selected{%endif%}>Spé Physique-Chimie</option>
                      <option value="spe-svt" {%if profilUtilisateur['spes'][1]=="spe-svt"%}selected{%endif%}>Spé SVT</option>
                      <option value="spe-nsi" {%if profilUtilisateur['spes'][1]=="spe-nsi"%}selected{%endif%}>Spé NSI</option>
                      <option value="spe-si" {%if profilUtilisateur['spes'][1]=="spe-si"%}selected{%endif%}>Spé Sciences de l'Ingénieur</option>
                      <option value="spe-lca" {%if profilUtilisateur['spes'][1]=="spe-lca"%}selected{%endif%}>Spé LCA</option>
                      <option value="spe-llcer-ang" {%if profilUtilisateur['spes'][1]=="spe-llcer-ang"%}selected{%endif%}>Spé LLCER Anglais</option>
                      <option value="spe-llcer-esp" {%if profilUtilisateur['spes'][1]=="spe-llcer-esp"%}selected{%endif%}>Spé LLCER Espagnol</option>
                      <option value="spe-llcer-all" {%if profilUtilisateur['spes'][1]=="spe-llcer-all"%}selected{%endif%}>Spé LLCER Allemand</option>
                      <option value="spe-llcer-it" {%if profilUtilisateur['spes'][1]=="spe-llcer-it"%}selected{%endif%}>Spé LLCER Italien</option>
                      <option value="spe-bio-eco" {%if profilUtilisateur['spes'][1]=="spe-bio-eco"%}selected{%endif%}>Spé Biologie-écologie</option>
                    </select>
                  </div>
                  <!-- Spé 3 -->
                  <div class="select" {% if profilUtilisateur['classe']=='TG' %} style="display: none;" {% endif %}>
                    <select name="spe3">
                      <option value="none" {%if profilUtilisateur['spes'][2]=="none"%}selected{%endif%}>Non renseignée...</option>
                      <option value="spe-art" {%if profilUtilisateur['spes'][2]=="spe-art"%}selected{%endif%}>Spé Arts</option>
                      <option value="spe-hggsp" {%if profilUtilisateur['spes'][2]=="spe-hggsp"%}selected{%endif%}>Spé HGGSP</option>
                      <option value="spe-hlp" {%if profilUtilisateur['spes'][2]=="spe-hlp"%}selected{%endif%}>Spé HLP</option>
                      <option value="spe-ses" {%if profilUtilisateur['spes'][2]=="spe-ses"%}selected{%endif%}>Spé SES</option>
                      <option value="spe-maths" {%if profilUtilisateur['spes'][2]=="spe-maths"%}selected{%endif%}>Spé Mathématiques</option>
                      <option value="spe-pc" {%if profilUtilisateur['spes'][2]=="spe-pc"%}selected{%endif%}>Spé Physique-Chimie</option>
                      <option value="spe-svt" {%if profilUtilisateur['spes'][2]=="spe-svt"%}selected{%endif%}>Spé SVT</option>
                      <option value="spe-nsi" {%if profilUtilisateur['spes'][2]=="spe-nsi"%}selected{%endif%}>Spé NSI</option>
                      <option value="spe-si" {%if profilUtilisateur['spes'][2]=="spe-si"%}selected{%endif%}>Spé Sciences de l'Ingénieur</option>
                      <option value="spe-lca" {%if profilUtilisateur['spes'][2]=="spe-lca"%}selected{%endif%}>Spé LCA</option>
                      <option value="spe-llcer-ang" {%if profilUtilisateur['spes'][2]=="spe-llcer-ang"%}selected{%endif%}>Spé LLCER Anglais</option>
                      <option value="spe-llcer-esp" {%if profilUtilisateur['spes'][2]=="spe-llcer-esp"%}selected{%endif%}>Spé LLCER Espagnol</option>
                      <option value="spe-llcer-all" {%if profilUtilisateur['spes'][2]=="spe-llcer-all"%}selected{%endif%}>Spé LLCER Allemand</option>
                      <option value="spe-llcer-it" {%if profilUtilisateur['spes'][2]=="spe-llcer-it"%}selected{%endif%}>Spé LLCER Italien</option>
                      <option value="spe-bio-eco" {%if profilUtilisateur['spes'][2]=="spe-bio-eco"%}selected{%endif%}>Spé Biologie-écologie</option>
                    </select>
                  </div>
                </div>
              </td>
            </tr>
            {%for element in profilUtilisateur['elementPublic']%}
            {%if element=="caractere"%}
            <tr>
              <td>
                <i class="fas fa-user" style="font-size:25px;"></i>
                &nbsp;&nbsp;Caractère
              </td>
              <td>
                <div class="select">
                  <select name="caractere">
                    <option value="joy" {%if profilUtilisateur['caractere']=="joy"%}selected{%endif%}>Joyeux.se</option>
                    <option value="tr" {%if profilUtilisateur['caractere']=="tr"%}selected{%endif%}>Triste</option>
                    <option value="det" {%if profilUtilisateur['caractere']=="det"%}selected{%endif%}>Déterminé.e</option>
                    <option value="fat" {%if profilUtilisateur['caractere']=="fat"%}selected{%endif%}>Fatigué.e</option>
                    <option value="dro" {%if profilUtilisateur['caractere']=="dro"%}selected{%endif%}>Drôle</option>
                    <option value="ti" {%if profilUtilisateur['caractere']=="ti"%}selected{%endif%}>Timide</option>
                    <option value="crea" {%if profilUtilisateur['caractere']=="crea"%}selected{%endif%}>Créatif.ve</option>
                    <option value="ser" {%if profilUtilisateur['caractere']=="ser"%}selected{%endif%}>Sérieux.se</option>
                    <option value="op" {%if profilUtilisateur['caractere']=="op"%}selected{%endif%}>Optimiste</option>
                    <option value="pe" {%if profilUtilisateur['caractere']=="pe"%}selected{%endif%}>Pessimiste</option>
                    <option value="ro" {%if profilUtilisateur['caractere']=="ro"%}selected{%endif%}>Romantique</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="select">
                  <select name="caractereVisibilite">
                    <option value="pv">privé</option>
                    <option value="pb" selected>public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%elif element=="birth_date"%}
            <tr>
              <td>
                <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
                &nbsp;&nbsp;Date de naissance
              </td>
              <td>
                {{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}
              </td>
              <td>
                <div class="select">
                  <select name="birth_dateVisibilite">
                    <option value="pv">privé</option>
                    <option value="pb" selected>public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%else%}
            <tr>
              <td>
                <i {%if element=="email"%}class="fas fa-at" {%endif%}{%if element=="telephone"%}class="fas fa-phone-alt" {%endif%}{%if element=="interets"%}class="far fa-smile-beam" {%endif%} style="font-size:25px;"></i>
                &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
              </td>
              <td>
                <div id="content{{element}}">
                  <input type="hidden" name="{{element}}" type="{{element}}" value="{{profilUtilisateur[element]}}" />
                  <p id="{{element}}" {% if user['SanctionEnCour']!="Spec" and user['SanctionEnCour']!="SpecProfil"%}onClick="input('{{element}}')" {%endif%}>{{profilUtilisateur[element]}}{%if profilUtilisateur[element]==""%}Non-renseigné{%endif%}
                  </p>
                </div>
              </td>
              <td>
                <div class="select">
                  <select name="{{element}}Visibilite">
                    <option value="pv">privé</option>
                    <option value="pb" selected>public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
        <!-- Fin tableau informations publiques -->
        <!-- Informations privées -->
        {% if profilUtilisateur['elementPrive'] != [] %}
        <div style="font-weight: bold; font-size:large;">Informations privées :</div>
        <br />
        {% endif %}
        <!-- Début tableau informations privées -->
        <table class="table is-narrow">
          <tbody>
            {%for element in profilUtilisateur['elementPrive']%}
            {%if element=="caractere"%}
            <tr>
              <td>
                <i class="fas fa-user" style="font-size:25px;"></i>
                &nbsp;&nbsp;Caractère
              </td>
              <td>
                <div class="select">
                  <select name="caractere">
                    <option value="joy" {%if profilUtilisateur['caractere']=="joy"%}selected{%endif%}>Joyeux.se</option>
                    <option value="tr" {%if profilUtilisateur['caractere']=="tr"%}selected{%endif%}>Triste</option>
                    <option value="det" {%if profilUtilisateur['caractere']=="det"%}selected{%endif%}>Déterminé.e</option>
                    <option value="fat" {%if profilUtilisateur['caractere']=="fat"%}selected{%endif%}>Fatigué.e</option>
                    <option value="dro" {%if profilUtilisateur['caractere']=="dro"%}selected{%endif%}>Drôle</option>
                    <option value="ti" {%if profilUtilisateur['caractere']=="ti"%}selected{%endif%}>Timide</option>
                    <option value="crea" {%if profilUtilisateur['caractere']=="crea"%}selected{%endif%}>Créatif.ve</option>
                    <option value="ser" {%if profilUtilisateur['caractere']=="ser"%}selected{%endif%}>Sérieux.se</option>
                    <option value="op" {%if profilUtilisateur['caractere']=="op"%}selected{%endif%}>Optimiste</option>
                    <option value="pe" {%if profilUtilisateur['caractere']=="pe"%}selected{%endif%}>Pessimiste</option>
                    <option value="ro" {%if profilUtilisateur['caractere']=="ro"%}selected{%endif%}>Romantique</option>
                  </select>
                </div>
              </td>
              <td>
                <div class="select">
                  <select name="caractereVisibilite">
                    <option value="pv" selected>privé</option>
                    <option value="pb">public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%elif element=="birth_date"%}
            <tr>
              <td>
                <i class="fas fa-birthday-cake" style="font-size:25px;"></i>
                &nbsp;&nbsp;Date de naissance
              </td>
              <td>
                {{profilUtilisateur['birth_date'].day}}/{{profilUtilisateur['birth_date'].month}}/{{profilUtilisateur['birth_date'].year}}
              </td>
              <td>
                <div class="select">
                  <select name="birth_dateVisibilite">
                    <option value="pv" selected>privé</option>
                    <option value="pb">public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%else%}
            <tr>
              <td>
                <i {%if element=="email"%}class="fas fa-at" {%endif%}{%if element=="telephone"%}class="fas fa-phone-alt" {%endif%}{%if element=="interets"%}class="far fa-smile-beam" {%endif%} style="font-size:25px;"></i>
                &nbsp;&nbsp;{%if element=="email"%}adresse mail{%endif%}{%if element=="birth_date"%}date de naissance{%endif%}{%if element=="telephone"%}Téléphone{%endif%}{%if element=="interets"%}Centres d'intérêts{%endif%}
              </td>
              <td>
                <div id="content{{element}}">
                  <input type="hidden" name="{{element}}" type="{{element}}" value="{{profilUtilisateur[element]}}" />
                  <p id="{{element}}" {% if user['SanctionEnCour']!="Spec" and user['SanctionEnCour']!="SpecProfil"%}onClick="input('{{element}}')" {%endif%}>{{profilUtilisateur[element]}}{%if profilUtilisateur[element]==""%}Non-renseigné{%endif%}
                  </p>
                </div>
              </td>
              <td>
                <div class="select">
                  <select name="{{element}}Visibilite">
                    <option value="pv" selected>privé</option>
                    <option value="pb">public</option>
                  </select>
                </div>
              </td>
            </tr>
            {%endif%}
            {%endfor%}
          </tbody>
        </table>
        <!-- Fin tableau informations privées -->
        <!-- Préférences -->
        <div style="font-weight: bold; font-size:large;">Notifications par email :</div>
        <br />
        <table class="table is-narrow">
          <tbody>
            <tr>
              <td>
                <i class="fas fa-envelope-open-text" style="font-size:25px;"></i>
                &nbsp;&nbsp;Notifications par email concernant les demandes d'aide
              </td>
              <td>
                <div class="select">
                  <select name="notifs_demandes">
                    <option value="yes" {% if profilUtilisateur['notifs']['demandes'] %}selected{%endif%}>Accepter</option>
                    <option value="no" {% if not profilUtilisateur['notifs']['demandes'] %}selected{%endif%}>Refuser</option>
                  </select>
                </div>
              </td>
            </tr>
            <tr>
              <td>
                <i class="fas fa-envelope-open-text" style="font-size:25px;"></i>
                &nbsp;&nbsp;Notifications par email concernant les messages
              </td>
              <td>
                <div class="select">
                  <select name="notifs_messages">
                    <option value="yes" {% if profilUtilisateur['notifs']['messages'] %}selected{%endif%}>Accepter</option>
                    <option value="no" {% if not profilUtilisateur['notifs']['messages'] %}selected{%endif%}>Refuser</option>
                  </select>
                </div>
              </td>
            </tr>
            <!-- Bouton pour valider les informations -->
            <tr>
              <td>
                <br /><br />

                <button type="submit" class="button is-success is-outlined" style="margin-bottom: 20px;">
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>Modifier mes informations !</span>
                </button>
              </td>
            </tr>
          </tbody>
        </table>
      </form>
    </div>
    <!-- Fin informations -->
    <!-- Début choix couleurs -->
    <div class="ChoixCouleur">
      <form action="{{url_for('changeTheme')}}" method="POST">
        <!-- Titre choix couleurs -->
        <label for"color-select">Choisir une couleur de thème :</label><br />
        <!-- Couleur 1 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" value="0" {%if session['couleur']==['#00b7ff', '#a7ceff', '#94e1ff', '#d3e6ff'] %}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#00b7ff;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#a7ceff;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#94e1ff;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 2 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 2%} disabled {%endif%} value="1" {%if session['couleur']==['#ff0000', '#ffa8a8', '#ff9494', '#ffd3d3']%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#ff0000;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#ffa8a8;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#ff9494;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 3 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 3%} disabled {%endif%} value="2" {%if session['couleur']==['#14db14', '#aeffa8', '#a0ff94', '#d6ffd3']%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#14db14;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#aeffa8;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#a0ff94;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 4 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 4%} disabled {%endif%} value="3" {%if session['couleur']==['#ffbb00', '#e8c959', '#ffe294', '#f3e4ac']%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#ffbb00;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#e8c959;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#ffe294;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <!-- Couleur 5 -->
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 5%} disabled {%endif%} value="4" {%if session['couleur']==['#e6445f', '#f3a6b3', '#afe2e7', '#f9d3d9']%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#e6445f;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#f3a6b3;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#afe2e7;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 5%} disabled {%endif%} value="5" {%if session['couleur']==['#deb72f', '#e6cf81', '#e68181', '#f3e7c0']%}checked{%endif%}>&nbsp;&nbsp;
            <p id="couleur" style="background-color:#deb72f;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#e6cf81;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>&nbsp;
            <p id="couleur" style="background-color:#e68181;border-color:black;border-radius:50%;width: 15px;height: 15px;"></p>
          </div>
        </label>
        <br />
        <label class="radio">
          <div style="display: flex;align-items: center;justify-content:space-evenly;">
            <input type="radio" name="couleur" {%if niv < 5%} disabled {%endif%} value="6" {%if session['couleur']!=['#00b7ff', '#a7ceff', '#94e1ff', '#d3e6ff'] and
            session['couleur']!=['#ff0000', '#ffa8a8', '#ff9494', '#ffd3d3'] and
            session['couleur']!=['#14db14', '#aeffa8', '#a0ff94', '#d6ffd3'] and
            session['couleur']!=['#ffbb00', '#e8c959', '#ffe294', '#f3e4ac'] and
            session['couleur']!=['#e6445f', '#f3a6b3', '#afe2e7', '#f9d3d9'] and
            session['couleur']!=['#deb72f', '#e6cf81', '#e68181', '#f3e7c0']%}checked{%endif%}>&nbsp;&nbsp;
            <input id="couleur" type="color" name="color1" value="{{session['couleur'][0]}}" />&nbsp;
            <input id="couleur" type="color" name="color2" value="{{session['couleur'][1]}}" />&nbsp;
            <input id="couleur" type="color" name="color3" value="{{session['couleur'][2]}}" />&nbsp;

          </div>
        </label>
        <br />
        <br />
        <!-- Bouton pour valider le choix de la couleur -->
        <button type="submit" class="button is-success is-outlined" style="margin-bottom: 20px;">
          <span class="icon is-small">
            <i class="fas fa-check"></i>
          </span>
          <span>Modifier ma couleur !</span>
        </button>
      </form>
    </div>
    <!-- Fin choix couleurs -->
  </div>
  {%if user['admin']==true and profilUtilisateur['sign'] != []%}
  <button class="button  is-danger is-outlined is-small" onClick="validationUser();">
    <span class="icon is-small">
      <i id="sign" class="fas fa-ban" aria-hidden="true"></i>
    </span>
    <span>Valider</span>
  </button>
  {%endif%}
  <!-- Mes demandes d'aide -->
  {% if demandes != [] %}
  <div style="margin-left: 15%;display: flex; flex-direction:column; align-items:baseline;justify-content: space-evenly; width: 70%;">
    <div style="font-weight: bold; font-size:large; margin-top: 15px;">Mes demandes d'aide :</div>
    <br />
    {% endif %}
    {%for d in demandes %}
    <!-- Début publi -->
{% include 'publication.html' with context %}
  <!-- Fin publi -->
  <br />
  {%endfor%}
  </div>
  <!-- Sanctions -->
  <!-- STYLE A FAIRE !!! -->
  {%if profilUtilisateur['Sanctions'] %}<div style="margin-left:2%;">
    <div style="font-weight: bold; font-size:large;">Mes sanctions :</div>
    <br />
    {%for element in profilUtilisateur['Sanctions']%}
    <ul class="menu-list" style="margin-left:1%;">
      <li><u>Sanction : {{element['SanctionType']}}</u></li>
      <li>
        <ul>
          <li>Motif : {{element['SanctionMotif']}}</li>
          <li>Prochaine Sanction : {{element['SanctionNext']}}</li>
          <li>{{element['dateSanction']}}</li>
        </ul>
      </li>
    </ul>
    {%endfor%}
  </div>
  {%endif%}
  <!-- fin de la page -->
</body>

</html>
