<div id="divDemande_{{d['idMsg']}}" class="box demande elem" style="border-radius: 20px; margin-bottom: 0.8rem; width: 100%;" data-subject="{{d['tag-matière']}}">
  <article class="media">
    <div class="media-left">
      <!-- Image photo de profil-->
      <figure class="image is-64x64">
        <img alt="user" src="{%if 'nomImg' in d['user'] and d['user']['nomImg'] != "" %}{{url_for('userImg', profilImg = d['user']['nomImg'])}}{%else%}{{url_for('static',filename='image/sans_profil.png')}}{%endif%}"
          style="width:64px;object-fit: cover; height:64px;border-radius: 50%;" />
      </figure>
    </div>
    <!-- Contenu publication -->
    <div class="media-content">
      <div class="content">
        <p style="margin-bottom: 5px;">
          <!-- Nom utilisateur ; pseudo ; temps -->
        <div style="font-variant: small-caps;">
          <a href="{{url_for('profil' ,idUser=d['user']['_id'])}}">{{d['user']['nom']}} {{d['user']['prenom']}}</a>
          <span style="display: inline-block; margin-right: 40px;"></span>{{d['matière']}}
          {% if d['resolu'] %}
            <span style="color: #20A565;"><span style="display: inline-block; margin-right: 40px;"></span><i class="fas fa-check-circle"></i> Résolu !</span>
          {% endif %}
        </div>
        <small><em>@{{d['user']['pseudo']}}</em></small> <small>{{d['temps']}}</small>
        </p>
        <!-- Titre -->
        <h4 style="margin-top: 0;"><a href="/comments/{{d['idMsg']}}">{{d['titre']}}</a></h4>
        <!-- Texte publication -->
        <p style="word-wrap:break-word;"><div id="contenu{{d['idMsg']}}">{{d['contenu']}}</div></p>
        </p>
        {% if d['fileType'] == 'image' %}
        <a href="/file/DemandeFile_{{d['idMsg']}}" download="Fichier demande d'aide {{d['idMsg']}}.png">
          <img src="/file/DemandeFile_{{d['idMsg']}}" style="max-width: 100%; max-height: 25vh;" />
        </a>
        {% elif d['fileType'] == 'pdf' %}
        <a href="/file/DemandeFile_{{d['idMsg']}}" download="Fichier demande d'aide {{d['idMsg']}}.pdf">
          <i class="fas fa-file-pdf" style="font-size: 36px; margin-right: 15px;"></i><span>1 fichier PDF joint</span>
        </a>
        {% endif %}
      </div>
      <!-- Icons like et commentaire -->
      <nav class="level is-mobile">
        <div class="level-left">
          <a class="level-item" aria-label="like" onClick="like('{{d['idMsg']}}')">
            <span class="icon">
              {% if d['a_like'] %}
              <i id="like_{{d['idMsg']}}" class="fas fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;color:{{session['couleur'][2]}};font-size: 20px;">{{d['nb-likes']}}</i>
              {% else %}
              <i id="like_{{d['idMsg']}}" class="far fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;color:{{session['couleur'][2]}};font-size: 20px;">{{d['nb-likes']}}</i>
              {% endif %}
            </span>
          </a>&emsp;&ensp;
          <a class="level-item" style="margin-left:2%;" aria-label="comment" href="/comments/{{d['idMsg']}}">
            <span class="icon is-small">
              <i class="far fa-comment" style="color:{{session['couleur'][2]}};font-size: 20px;" aria-hidden="true">&nbsp;{{d['réponses associées']|length}}</i>
            </span>
          </a>&emsp;&ensp;
          <!-- <a class="level-item" aria-label="sign" onClick="sign('{{d['idMsg']}}')">
              <span class="icon is-small">
                {% if d['a_sign'] %}
                  <i id="sign_{{d['idMsg']}}" class="fas fa-flag" aria-hidden="true" style="padding-left: 5px;"></i>
                {% else %}
                  <i id="sign_{{d['idMsg']}}" class="far fa-flag" aria-hidden="true" style="padding-left: 5px;"></i>
                {% endif %}
              </span>
            </a> -->
        </div>
      </nav>
    </div> 
    <div class="boutonPubliOrdi" style="flex-direction: column;align-items: flex-end;">
      <!-- Signaler -->
      <div class="navbar-item">
        <button class="button is-warning is-outlined is-small" onClick="sign('{{d['idMsg']}}')">
          <span class="icon is-small">
            {% if d['a_sign'] %}
            <i id="sign_{{d['idMsg']}}" class="fas fa-flag" aria-hidden="true"></i>
            {% else %}
            <i id="sign_{{d['idMsg']}}" class="far fa-flag" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Signaler</span>
        </button>
        <input type="hidden" />
      </div>
      <!-- Sauvegarder -->
      <div class="navbar-item">
        <button class="button is-link is-outlined is-small" onClick="save('{{d['idMsg']}}')">
          <span class="icon is-small">
            {% if d['a_save'] %}
            <i id="save_{{d['idMsg']}}" class="fas fa-bookmark" aria-hidden="true"></i>
            {% else %}
            <i id="save_{{d['idMsg']}}" class="far fa-bookmark" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Enregistrer</span>
        </button>
        <input type="hidden" />
      </div>
      <!-- Résolu -->
      {% if d['idAuteur'] == user['_id'] %}
      <div class="navbar-item">
        <button class="button is-success is-outlined is-small" onClick="resoudre('{{d['idMsg']}}')">
          <span class="icon is-small">
            {% if d['resolu'] %}
            <i class="fas fa-check-square" aria-hidden="true"></i>
            {% else %}
            <i class="far fa-check-square" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Résolu </span>
        </button>
        <input type="hidden" />
      </div>
      <!-- Modifier -->
      <div class="navbar-item">
        <button class="button is-link is-outlined is-small" onclick="DemandModificationOpen('{{d['idMsg']}}');">
          <span class="icon is-small">
            <i class="fas fa-pen" aria-hidden="true"></i>
          </span>
          <span>
            Modifier
          </span>
        </button>
      </div>
      {%endif%}
      {%if user['admin']==true%}
        <div class="navbar-item">
          <button class="button is-danger is-outlined is-small" onClick="suppression('{{d['idMsg']}}')">
            <span class="icon is-small">
              <i class="fas fa-times"></i>
            </span>
            <span>Supprimer </span>
          </button>
          <input type="hidden" />
        </div>
        {%if d['sign'] != []%}
          <div class="navbar-item">
            <button class="button is-success is-outlined is-small" onClick="validation('{{d['idMsg']}}')">
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
              <span>Valider le signalement</span>
            </button>
            <input type="hidden" />
          </div>
        {%endif%}
      {%endif%}
    </div>
    <div class="boutonPubliTel">
      <div class="navbar-item has-dropdown is-hoverable">
        <a class="navbar-link">
        </a>
        <div class="navbar-dropdown is-boxed is-right" style="align-items: flex-end;">
          <!-- Signaler -->
          <div class="navbar-item">
            <button class="button is-warning is-outlined is-small" onClick="sign('{{d['idMsg']}}')">
              <span class="icon is-small">
                {% if d['a_sign'] %}
                <i id="sign_{{d['idMsg']}}" class="fas fa-flag" aria-hidden="true"></i>
                {% else %}
                <i id="sign_{{d['idMsg']}}" class="far fa-flag" aria-hidden="true"></i>
                {% endif %}
              </span>
              <span>Signaler</span>
            </button>
            <input type="hidden" />
          </div>
          <!-- Sauvegarder -->
          <div class="navbar-item">
            <button class="button is-link is-outlined is-small" onClick="save('{{d['idMsg']}}')">
              <span class="icon is-small">
                {% if d['a_save'] %}
                <i id="save_{{d['idMsg']}}" class="fas fa-bookmark" aria-hidden="true"></i>
                {% else %}
                <i id="save_{{d['idMsg']}}" class="far fa-bookmark" aria-hidden="true"></i>
                {% endif %}
              </span>
              <span>Enregistrer</span>
            </button>
            <input type="hidden" />
          </div>
          <!-- Résolu -->
          {% if d['idAuteur'] == user['_id'] %}
          <div class="navbar-item">
            <button class="button is-success is-outlined is-small" onClick="resoudre('{{d['idMsg']}}')">
              <span class="icon is-small">
                {% if d['resolu'] %}
                <i class="fas fa-check-square" aria-hidden="true"></i>
                {% else %}
                <i class="far fa-check-square" aria-hidden="true"></i>
                {% endif %}
              </span>
              <span>Résolu</span>
            </button>
            <input type="hidden" />
          </div>
          <div class="navbar-item">
          <button class="button is-link is-outlined is-small" onclick="DemandModificationOpen('{{d['idMsg']}}');">
            <span class="icon is-small">
              <i class="fas fa-pen" aria-hidden="true"></i>
            </span>
            <span>
              Modifier
            </span>
          </button>
          </div>
          {% endif %}
          {%if user['admin']==true%}
            <div class="navbar-item">
              <button class="button is-danger is-outlined is-small" onClick="suppression('{{d['idMsg']}}')">
                <span class="icon is-small">
                  <i class="fas fa-times"></i>
                </span>
                <span>Supprimer </span>
              </button>
              <input type="hidden" />
            </div>
            {%if d['sign'] != []%}
              <div class="navbar-item">
                <button class="button is-success is-outlined is-small" onClick="validation('{{d['idMsg']}}')">
                  <span class="icon is-small">
                    <i class="fas fa-check"></i>
                  </span>
                  <span>Valider le signalement</span>
                </button>
                <input type="hidden" />
              </div>
            {%endif%}
          {%endif%}
        </div>
      </div>
    </div>
  </article>
</div>
