<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Question</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
</head>

<body>
  {% include "bandeau.html" %}
  <div class="columns" style="margin-top:5%;">
    <div class="column"></div>
    <div class="column">
      <form action="{{url_for('question')}}" method="post">
        <label>Titre</label>
        <input type="text" class="input" name="titre" /><br /><br />
        <label>Matière</label>
        <div class="control has-icons-left">
          <div class="select" >
            <select name="matiere">
              <option value=math>Mathématiques</option>
              <option value=fr>Français</option>
              <option value=pc>Physiques-chimie</option>
              <option value=nsi>Numérique et Sciences de l'Informatique</option>
              <option value=angl>Anglais</option>
              <option value=esp>Espagnol</option>
              <option value=svt>Sciences et Vie de la Terre</option>
              <option value=ses>Sciences Economiques et Sociales</option>
              <option value=snt>Sciences Numériques et Technologiques</option>
              <option value=hg>Histoire Géographie</option>
              <option value=emc>Education Morale et Civique</option>
              <option value=all>Allemand</option>
              <option value=philo>Philosophie</option>
              <option value=art>Arts</option>
              <option value=hggsp>Histoire géographie, géopolitique et sciences politiques</option>
              <option value=hlp>Humanités, littérature et philosophie</option>
              <option value=llce>Langues, littératures et cultures étrangères</option>
              <option value=llca>Littérature, langues et cultures de l’Antiquité</option>
              <option value=si>Sciences de l’ingénieur</option>
              <option value=be>Biologie écologie</option>
              <option value=eppcs>Éducation physique, pratiques et cultures sportives</option>
              <option value=ch>Chinois</option>
            </select>
          </div>
          <span class="icon is-left">
            <i class="fas fa-book"></i>
          </span>
        </div>
        <br>
        <br>
        <label>Ma Demande</label> : <textarea class="textarea" placeholder="Tapez-ici" type="text" name="demande"></textarea>
        <br>
        <input class="button" type="submit" value="Envoyer">
      </form>
      <p>
        {{ envoi|safe }}
      </p>
      <!-- <br>
      <br>
      <br>
      <form action="{{url_for('question')}}" method="post">
        <label>Recherche :</label><input class="input" type="text" name="research">
        <br>
        <input type="submit" value="Envoyer">
      </form>
      <p>
        Voici le résultat de votre recherche :
        <br>
        {%for content in answer%}
      <div>
        <h3>{{content['titre']}}</h3>
        <p>{{content['contenu']}}</p>
        <p>Publié le {{content['date-envoi']}} par {{content['id-utilisateur']}}</p>
      </div>
      {%endfor%}
      </p> -->
    </div>
    <div class="column"></div>
  </div>
</body>

</html>
