<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
{% include 'head.html' with context %}
  <title>Key4School - Recherche utilisateur</title>
  <script type="text/javascript" src="/static/js/scrollInfini.js?v={{session['cacheRandomKey']}}" defer></script>
  <script type="text/javascript">
    var search = "{{search}}";
  </script>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include 'bandeau2.html' %}



 
 <div class="columns" style="margin-top:5%;">
  <div class="column"></div>
  <div class="column" id="users">
    {%for u in users%}
      {% include 'apercu_profil.html' with context %}
    {%endfor%}
  </div>
  <div class="column"></div>
</div>



</body>

</html>
