<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr" data-theme="{{session['theme']}}">

<head>
{% include 'head.html' with context %}
  <title>Key4School - Recherche</title>
  <script type="text/javascript" src="/static/js/filtres.js?v={{session['cacheRandomKey']}}" defer></script>
  <script type="text/javascript" src="/static/js/scrollInfini.js?v={{session['cacheRandomKey']}}" defer></script>
  <script type="text/javascript">
    var search = "{{search}}";
  </script>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include 'bandeau.html' %}
  <div class="modal" id="signalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement</p>
      </header>
      <form onsubmit="signaler(event); return false;" id="signalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce message." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idSignalé" name='idSignalé' value="" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designaler(event); return false;" id="designalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="" />
          Etes vous sur de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">oui</button>
          <button onclick="signalisationClose(); return false;" class="button">annuler</button>
        </footer>
      </form>
    </div>
  </div>
  {%if user['admin']==true%}
  <div class="modal" id="suppression" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Supression</p>
      </header>
      <form onsubmit="supprimer(event); return false;" id="supprForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type="text" name="motif" placeholder="motif"required/>
          <input type='hidden' id="idSupprimé" name='idSuppr' value="" />
          <input type='hidden' name="demandeBut" value="Suppr" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">supprimer</button>
          <button onclick="supprimerClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  {%endif%}


  {% include 'filtres.html' with context %}



 <div class="columns" style="margin: 0;">
  <div class="column" style="padding: 0;"></div>
  <div class="column is-three-fifths" id="publis">
    {%if users|length > 0%}
      {%for u in users%}
        {% include 'apercu_profil.html' with context %}
      {%endfor%}
      <a style="margin-left: 35px;" href="{{url_for('recherche_user', search=search)}}">Voir plus de profils</a>
      <br /><br />
      <hr/>
      <br />
    {%endif%}

    {%if results|length > 0%}
      {%for d in results %}

        {% include 'publication.html' with context %}

      {%endfor%}
    {%else%}
      <div class="box">
        <em>Aucun résultat n'a été trouvé...</em>
      </div>
    {%endif%}
  </div>
  <div class="column" style="padding: 0;"></div>
</div>



</body>

</html>
