<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr">

<head>
  <!-- language utf8 pour indiquer l'encodage -->
  <meta charset="UTF-8">
  <!-- pour l'adapter plus ou moins bien sur telephone -->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- titre en haut dans le navigateur -->
  <title>Recherche</title>
  <!-- page de style -->
  <link rel="stylesheet" type="text/css" href="{{url_for('static',filename='styles/style.css')}}">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.0/css/bulma.min.css">
  <script src="https://kit.fontawesome.com/87544e3da3.js" crossorigin="anonymous"></script>
  <!-- importation du JS pour afficher et enlever les div -->
  <script src="{{url_for('static',filename='js/profil.js')}}" type="text/javascript"></script>
  <script src="{{url_for('static',filename='js/publication.js')}}" type="text/javascript"></script><script src="{{url_for('static',filename='js/main.js')}}" type="text/javascript"></script>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include "bandeau.html" %}
  <div class="modal" id="signalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signalement</p>
      </header>
      <form onsubmit="signaler(event); return false;" id="signalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi Signalez vous ce message." autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;"required/>
          <input type='hidden' id="idSignalé" name='idSignalé' value="" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designaler(event); return false;" id="designalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="" />
          Etes vous sur de vouloir enlever ce signalement
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">oui</button>
          <button onclick="signalisationClose(); return false;" class="button">annuler</button>
        </footer>
      </form>
    </div>
  </div>


 <!-- debut de la div pour tt les publications -->
 <div class="columns" style="margin-top:5%;">
  <div class="column"></div>
  <div class="column">
    {%if user!=None%}
      <a href="{{url_for('recherche_user', search=search)}}">Voir plus de profils</a>
    {%endif%}
    {%for user in users%}
      <img src="{{url_for('static',filename='image/sans_profil.png')}}" style="width:80px; height:auto;"/>
      <strong><a href="{{url_for('profil' ,idUser=user['_id'])}}">{{user['nom']}} {{user['prenom']}}</a></strong> {{user['pseudo']}}
    {%endfor%}

    {%for r in results %}
      <!-- Début publi -->
      <div class="box">
        <article class="media">
          <div class="media-left">
            <!-- Image photo de profil-->
            <figure class="image is-64x64">
              <img class="is-rounded" src="https://bulma.io/images/placeholders/128x128.png">
            </figure>
          </div>
          <!-- Contenu publication -->
          <div class="media-content">
            <div class="content">
              <p style="margin-bottom: 5px;">
                <!-- Nom utilisateur ; pseudo ; temps -->
                <div style="font-variant: small-caps;"><a href="{{url_for('profil' ,idUser=r['user']['_id'])}}">{{r['user']['nom']}} {{r['user']['prenom']}}</a></div> <small><em>@{{r['user']['pseudo']}}</em></small> <small>{{r['temps']}}</small>
              </p>
              <!-- Titre -->
              <h4 style="margin-top: 0;">{{r['titre']}}</h4>
              <!-- Texte publication -->
              <p>{{r['contenu']}}</p>
              </p>
            </div>
            <!-- Icons like et commentaire -->
            <nav class="level is-mobile">
              <div class="level-left">
                <a class="level-item" aria-label="like" onClick="like('{{r['idMsg']}}')">
                  <span class="icon is-small">
                    {% if r['a_like'] %}
                      <i id="like_{{r['idMsg']}}" class="fas fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                    {% else %}
                      <i id="like_{{r['idMsg']}}" class="far fa-thumbs-up" aria-hidden="true" style="padding-left: 5px;">{{r['nb-likes']}}</i>
                    {% endif %}
                  </span>
                </a>
                <a class="level-item" aria-label="comment">
                  <span class="icon is-small">
                    <i class="far fa-comment" aria-hidden="true"></i>
                  </span>
                </a>
                <a class="level-item" aria-label="sign" onClick="sign('{{r['idMsg']}}')">
                  <span class="icon is-small">
                    {% if r['a_sign'] %}
                      <i id="sign_{{r['idMsg']}}" class="fas fa-flag" aria-hidden="true" style="padding-left: 5px;"></i>
                    {% else %}
                      <i id="sign_{{r['idMsg']}}" class="far fa-flag" aria-hidden="true" style="padding-left: 5px;"></i>
                    {% endif %}
                  </span>
                </a>
              </div>
            </nav>
          </div>
        </article>
      </div>
      <!-- Fin publi -->
    {%endfor%}
  </div>
  <div class="column"></div>
</div>

<!-- fin de l'espace des publication -->

</body>

</html>
