<!DOCTYPE html>
<html class="has-navbar-fixed-top" lang="fr" data-theme="{{session['theme']}}">

<head>
  {% include 'head.html' with context %}
  <script type="text/javascript" src="/static/js/filtres.js?v={{session['cacheRandomKey']}}" defer></script>
  <title>Key4School - Demandes enregistréees</title>
  <style>
    .logoBouton:hover {
      cursor: pointer;
    }
  </style>
</head>

<body>
  {% include 'bandeau2.html' %}
  <div class="modal" id="signalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Signaler une demande d'aide</p>
      </header>
      <form onsubmit="signaler(event); return false;" id="signalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input id='inputRaison' class="input" type="text" placeholder="Pourquoi souhaitez-vous signaler cette demande d'aide ?" autocomplete='off' name="Raison" style="width: 75%;margin-left: 2%;padding:5px;" required />
          <input type='hidden' id="idSignalé" name='idSignalé' value="" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Signaler</button>
          <button onclick="signalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="designalisation" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Retrait de signalement</p>
      </header>
      <form onsubmit="designaler(event); return false;" id="designalement" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type='hidden' id="idDesignalé" name='idSignalé' value="" />
          Etes-vous sûr de vouloir enlever ce signalement ?
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Oui</button>
          <button onclick="designalisationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  <div class="modal" id="DemandModif" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Modifier la publication</p>
      </header>
      <form onsubmit="DemandModification(event); return false;" id="DemandModification" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input class="input" type="text" id="txtModif" name="txtModif" value="" />
          <input type='hidden' id="idDemandModif" name='idDemandModif' value="" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Modifier !</button>
          <button onclick="DemandModificationClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  {%if user['admin']==true%}
  <div class="modal" id="suppression" style="overflow:hidden;">
    <div class="modal-background"></div>
    <div class="modal-card">
      <header class="modal-card-head">
        <p class="modal-card-title">Supression</p>
      </header>
      <form onsubmit="supprimer(event); return false;" id="supprForm" method="POST" autocomplete="off">
        <section class="modal-card-body">
          <input type="text" name="motif" placeholder="motif" required />
          <input type='hidden' id="idSupprimé" name='idSuppr' value="" />
          <input type='hidden' name="demandeBut" value="Suppr" />
        </section>
        <footer class="modal-card-foot">
          <button type="submit" class="button is-success">Supprimer</button>
          <button onclick="supprimerClose(); return false;" class="button">Annuler</button>
        </footer>
      </form>
    </div>
  </div>
  {%endif%}


  {% include 'filtres.html' with context %}
  {% if demandes == [] %}
  <div style="border: 3px solid {{session['couleur'][0]}};margin: 0% 3%;height:75%;text-align:center;padding-top:3%;padding-bottom:3%;">
    <i class="fas fa-question" style="border: 2px solid var(--background-hover);border-radius:50%;padding: 3% 4% 3% 3%;;font-size:70px;background-color:var(--background-hover);"></i><br />
    <br />
    <p style="font-size: 20px;margin: 0% 31%;">
      Vous n'avez enregistré aucune demande. Vous pouvez en enregistrer en cliquant sur l'icône <i class="far fa-bookmark"></i> qui se trouve sous chaque demande d'aide.
    </p>
    <br /><br />
    <a href="{{url_for('accueil')}}" style="background-color:var(--background-hover);border-radius:9%;padding:1%;color:var(--text-color);">
      Retourner à l'accueil
    </a>
  </div>
  {%else%}

  <h1 style="font-weight: bolder; font-size: x-large; text-align: center;">Vos demandes enregistrées :</h1>


  <div id="contentPost" class="columns" style="margin-top: 10px; width:100%; margin: 0;">
    <div class="column" style="padding: 0;"></div>
    <div class="column is-three-fifths" id="publis">
      {%for d in demandes %}

        {% include 'publication.html' with context %}

      {%endfor%}
    </div>
    <div class="column" style="padding: 0;"></div>
  </div>
  {%endif%}


</body>

</html>
