.bandeau{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b2acfa;
  padding: 2%;
  position: fixed;
  top: 0px;
  left: 0px;
  right:0px;
  height: 5%;
  z-index: 20;
}
#page{
  margin-top: 7%;
}
#filtre{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
  z-index: 1;
}
.menu{
  z-index:20;
}
.ligne{
  display: flex;
  align-items: center;
  padding-bottom: 10%;
}
.ligne:hover{
  cursor: pointer;
  font-weight: bold;
}
.iconemenu{
  width: 20px;
  height:auto;
  margin-right: 5px;
}
.iconeparametre{
  width: 25px;
  height:auto;
  bottom: 0px;
}
.iconeparametre:hover{
  cursor: pointer;
}
#multichoix{
  top: 0px;
  left:0;
  display: none;
  position: fixed;
  background: #c3cfd9;
  padding-top: 3%;
  padding-left:2%;
  height: 100%;
  color: black;
  padding-right: 4%;
  text-align: left;
  margin-top: 7%;
  z-index: 20;
}
#notif{
  top: 0px;
  right:0;
  display: none;
  position: fixed;
  background: #c3cfd9;
  padding-top: 3%;
  padding-left:2%;
  height: 100%;
  color: black;
  padding-right: 4%;
  text-align: left;
  margin-top: 7%;
  z-index: 20;
  min-width: 15%;
}
.titremenu{
  color: black;
  text-decoration: none;
}
.profile{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
progress{
  max-width: 75%;
}
.iconebandeau{
  width: 25px;
  height:auto;
}
.iconebandeau:hover{
  cursor: pointer;
}
.persopubli{
  width: 30px;
  height:auto;
}
.iconereaction{
  width: 20px;
  height:auto;
  margin-left: 2%;
}
.iconereaction{
  cursor: pointer;
}
.pub{
  display: flex;
  align-items: center;
  margin-left: 3%;
}
.notif1{
  display: flex;
  align-items: center;
}
.contentpub{
  vertical-align: middle;
  border: 1px solid black;
  padding:1%;
  margin:2%;
  min-width: 30%;
  background-color: #dfe6ed;
}
.contentnotif{
  vertical-align: middle;
  border: 1px solid black;
  padding:3%;
  margin:2%;
  min-width: 80%;
  background-color: #dfe6ed;
}
h2{
  margin:1%;
}
.imagepublication{
  align-items: center;
  text-align: center;
}
