<!DOCTYPE html>
<html lang="fr">
	<head>
		{% include 'head.html' with context %}
		<title>Key4School - Aide</title>
		<script src="/static/js/tuto.js?v={{session['cacheRandomKey']}}" type="text/javascript" defer></script>
		<style>
			.logoNext{
				font-size:60px;
				color:black;
			}
			.logoNext:hover{
				cursor: pointer;
			}
		</style>
		<style type="text/css">
			@media screen and (min-width: 1400px) {
				#container {
					width: 60%;
					min-width: 1200px;
				}
			}
		</style>
	</head>

	<body style="text-align: center;" onkeydown="touche(event)">
		<!-- Bandeau -->
  		{% include 'bandeau2.html' %}
  		<br /><br/><br />
			<h2 class="title">Comment ça marche ?</h2>

			<progress id="progressTuto" class="progress is-info" value="1" max="6" style="width:60%; margin:auto;"></progress><br />
			<div style="display:flex;align-items:center;justify-content:center;">
		<i class="fas fa-caret-left logoNext"  onclick="precedent()"></i>
		<div id="container" style="margin-bottom: 25px;">
			<h3 id="titre" style="text-align:left;font-size:20px;font-weight:bold;">1. Accueil</h3>
			<p id="texte" style="font-size:19px;text-align:left;margin:2% 4%;">
				Après votre première connexion sur le site vous trouverez, sur la page d'accueil, les dernières questions postées sur le site.
			</p>
			<!-- <img style="width:75%;border: 2px solid {{session['couleur'][0]}};" id="image" src="{{url_for('static',filename='image/tuto/1.png')}}"> -->
			<iframe scrolling="yes" id="iframTuto" style="width:90%; height:600px;" src="{{url_for('accueil')}}"></iframe>
		</div>
		<i id="next" style="display:block;" class="fas fa-caret-right logoNext" onclick="suivant()"></i>
		<a id="fini" style="display:none;" href="{{url_for('accueil')}}"><i class="far fa-check-square logoNext" ></i></a>
		</div>
	</body>
</html>
