{%if content['id-utilisateur']==sessionId%}
<div class="moimsg" id="msg{{content['_id']}}">
  <div style="align-self: flex-end;">
  {%else%}
  <!-- Messages des autres -->
  <div class="participantmsg" id="msg{{content['_id']}}">
    <div style="display: flex;align-items: center;justify-content:space-between;">
  {%endif%}
    {%if content['id-utilisateur']!=sessionId%}
    <p style="font-weight: bold; font-variant:small-caps;margin:0px"><a href="{{url_for('profil' ,idUser=content['utilisateur']['_id'])}}">{{content['utilisateur']['pseudo']}}</a></p>
    {%endif%}
    <div class="navbar-item has-dropdown is-hoverable">
      <div class="navbar-link">
      </div>
      {%if content['id-utilisateur']==sessionId%}
      <div class="navbar-dropdown is-right">
      {%else%}
      <div class="navbar-dropdown">
      {%endif%}
        {%if content['id-utilisateur']==sessionId or sessionId in infogroupe['moderateurs'] or user['type']== "ENSEIGNANT" or user['admin']== True%}
        <div class="navbar-item">
          <form method="post" action="/suppressionMsg/" class="supprimer">
            <input type='hidden' name="msgSuppr" value="{{content['_id']}}" />
            <input type='hidden' name="grp" value="{{idgroupe}}" />
            <input type='hidden' name="audio" value="{{content['audio']}}" />
            {%if 'audio' in content and content['audio'] == true %}<input type='hidden' name="audioName" value="{{content['contenu']}}" />{%endif%}
            <button type="submit" class="button is-danger is-outlined is-small">
              <span class="icon is-small">
                <i class="fas fa-times"></i>
              </span>
              <span>Supprimer</span>
            </button>
          </form>
        </div>
        {%endif%}
        {%if user['admin'] and content['sign'] != []%}
        <div class="navbar-item">
          <form method="post" action="/validationMsg/" class="valider" id="ValidationMsg">
            <input type='hidden' name="msgVal" value="{{content['_id']}}" />
            <input type='hidden' name="grp" value="{{idgroupe}}" />
            <input type='hidden' name="audio" value="{{content['audio']}}" />
            {%if 'audio' in content and content['audio'] == true %}<input type='hidden' name="audioName" value="{{content['contenu']}}" />{%endif%}
            <button type="submit" class="button is-success is-outlined is-small">
              <span class="icon is-small">
                <i class="fas fa-check"></i>
              </span>
              <span>Valider le signalement</span>
            </button>
          </form>
        </div>
        {%endif%}
        <div class="navbar-item">
          <button value="{{content['_id']}}" onclick="reponseMsg(value)" class="button is-success is-outlined is-small">
            <span class="icon is-small">
              <i class="fas fa-reply"></i>
            </span>
            <span>Répondre</span>
          </button>
          <input type="hidden" id="user{{content['_id']}}" value="{{content['utilisateur']['pseudo']}}" />
          <input type="hidden" id="contenu{{content['_id']}}" value="{{content['contenu']}}" />
        </div>
        <div class="navbar-item">
        <button  class="button is-warning is-outlined is-small" onClick="signalisationMsg('{{content['_id']}}');">
          <span class="icon is-small">
            {% if sessionId in content['sign'] %}
              <i id="signMsg_{{content['_id']}}" class="fas fa-flag" aria-hidden="true"></i>
            {% else %}
              <i id="signMsg_{{content['_id']}}" class="far fa-flag" aria-hidden="true"></i>
            {% endif %}
          </span>
          <span>Signaler</span>
        </button>
        </div>
      </div>
    </div>
  </div>
  {%if content['rep'] != None%}
  <div class="rep">
    <div style="font-variant: small-caps;" ><a href="{{url_for('profil' ,idUser=content['rep']['utilisateur']['_id'])}}">{{content['rep']['utilisateur']['pseudo']}}</a></div>
    <a onclick="goToMess('msg{{content['rep']['_id']}}');" style="display: block; max-height: 48px; overflow: hidden; text-overflow: ellipsis; color:black;">
      {%if content['rep']['audio']==true%}Message Vocal{%else%}{{content['rep']['contenu']}}{%endif%}
    </a>
  </div>
  {%endif%}
    <p style="margin:0px;word-wrap:break-word;">
      {%if 'audio' in content and content['audio'] == true %}
      <!-- <audio id="audio{{content['_id']}}" controls src="{{url_for('audio', audioName = content['contenu'])}}" 'type' : 'audio/ogg; codecs=opus'></audio><button id="buttonAudio{{content['_id']}}"onclick="changeRate('{{content['_id']}}');">1x</button> -->
      <div id="audio-player-container{{content['_id']}}" style="display: flex; width: 100%; border: 1px solid #000; border-radius: 8px; padding: 5px; margin-top: 5px;">
        <audio id="audio{{content['_id']}}" src="/audio/{{content['contenu']}}/" type="audio/ogg" preload="metadata"></audio>
        <button style="font-size:17px;border:transparent;background-color:transparent; margin-left: 10px; margin-right:1%; cursor: pointer;" id="play-icon{{content['_id']}}" ><i class="fas fa-play"></i></button>
        <span style="margin-right:2%; position: relative; top: 50%; transform: translateY(-35%); height: 100%;" id="current-time{{content['_id']}}" class="time">0:00</span>
        <input style="margin-right:2%; width: 60%; background: transparent;" type="range" id="seek-slider{{content['_id']}}" max="100" value="0">
        <span style="margin-right:2%; position: relative; top: 50%; transform: translateY(-35%); height: 100%;" id="duration{{content['_id']}}" class="time">0:00</span>
        <button style="font-size:17px;min-width:42px; height: 35px; border:transparent;background-color:{{session['couleur'][2]}};margin-right:1%;border-radius: 15px;padding-top: 2%;padding-bottom: 2%; margin-right: 15px; margin-top: 3px; cursor: pointer;" id="buttonAudio{{content['_id']}}" onclick="changeRate('{{content['_id']}}');">1x</button>
      </div>
      <script>
        document.getElementById('audio{{content['_id']}}').style.display='block';
        const playIconContainer{{content['_id']}} = document.getElementById('play-icon{{content['_id']}}');
        const audioPlayerContainer{{content['_id']}} = document.getElementById('audio-player-container{{content['_id']}}');
        const seekSlider{{content['_id']}} = document.getElementById('seek-slider{{content['_id']}}');
        let playState{{content['_id']}} = '<i class="fas fa-pause"></i>';

        playIconContainer{{content['_id']}}.addEventListener('click', () => {
            if(playState{{content['_id']}} === '<i class="fas fa-play"></i>') {
                audio{{content['_id']}}.pause();
                cancelAnimationFrame(raf{{content['_id']}});
                playState{{content['_id']}} = '<i class="fas fa-pause"></i>';
                playIconContainer{{content['_id']}}.innerHTML = '<i class="fas fa-play"></i>';
            } else {
                audio{{content['_id']}}.play();
                requestAnimationFrame(whilePlaying{{content['_id']}});
                playState{{content['_id']}} = '<i class="fas fa-play"></i>';
                playIconContainer{{content['_id']}}.innerHTML = '<i class="fas fa-pause"></i>';
            }
        });

        const showRangeProgress{{content['_id']}} = (rangeInput{{content['_id']}}) => {
            if(rangeInput{{content['_id']}} === seekSlider{{content['_id']}}) 
              audioPlayerContainer{{content['_id']}}.style.setProperty('--seek-before-width', rangeInput{{content['_id']}}.value / rangeInput{{content['_id']}}.max * 100 + '%');
        };

        seekSlider{{content['_id']}}.addEventListener('input', (e) => {
            showRangeProgress{{content['_id']}}(e.target);
        });
        const audio{{content['_id']}} = document.querySelector('#audio{{content['_id']}}');
        const durationContainer{{content['_id']}} = document.getElementById('duration{{content['_id']}}');
        const currentTimeContainer{{content['_id']}} = document.getElementById('current-time{{content['_id']}}');
        let raf{{content['_id']}} = null;

        const calculateTime{{content['_id']}} = (secs) => {
            const minutes = Math.floor(secs / 60);
            const seconds = Math.floor(secs % 60);
            const returnedSeconds = seconds < 10 ? `0${seconds}` : `${seconds}`;
            return `${minutes}:${returnedSeconds}`;
        }

        const displayDuration{{content['_id']}} = () => {
            durationContainer{{content['_id']}}.textContent = calculateTime{{content['_id']}}(audio{{content['_id']}}.duration);
        }

        const setSliderMax{{content['_id']}} = () => {
            seekSlider{{content['_id']}}.max = Math.floor(audio{{content['_id']}}.duration);
        }

        const displayBufferedAmount{{content['_id']}} = () => {
            const bufferedAmount{{content['_id']}} = Math.floor(audio{{content['_id']}}.buffered.end(audio{{content['_id']}}.buffered.length - 1));
            audioPlayerContainer{{content['_id']}}.style.setProperty('--buffered-width', `${(bufferedAmount{{content['_id']}} / seekSlider{{content['_id']}}.max) * 100}%`);
        }

        const whilePlaying{{content['_id']}} = () => {
            seekSlider{{content['_id']}}.value = Math.floor(audio{{content['_id']}}.currentTime);
            currentTimeContainer{{content['_id']}}.textContent = calculateTime{{content['_id']}}(seekSlider{{content['_id']}}.value);
            audioPlayerContainer{{content['_id']}}.style.setProperty('--seek-before-width', `${seekSlider{{content['_id']}}.value / seekSlider{{content['_id']}}.max * 100}%`);
            raf{{content['_id']}} = requestAnimationFrame(whilePlaying{{content['_id']}});
        }

        if (audio{{content['_id']}}.readyState >= 4) {
            displayDuration{{content['_id']}}();
            setSliderMax{{content['_id']}}();
            displayBufferedAmount{{content['_id']}}();
        } else {
            audio{{content['_id']}}.addEventListener('loadedmetadata', async () => {
                // A LAISSER ABSOLUMENT => fix bugs Chrome
                while(audio{{content['_id']}}.duration === Infinity) {
                  await new Promise(r => setTimeout(r, 200));
                  audio{{content['_id']}}.currentTime = 10000000*Math.random();
                  audio{{content['_id']}}.currentTime = 0;
                }

                displayDuration{{content['_id']}}();
                setSliderMax{{content['_id']}}();
                displayBufferedAmount{{content['_id']}}();
            });
        }

        audio{{content['_id']}}.addEventListener('progress', displayBufferedAmount{{content['_id']}});

        seekSlider{{content['_id']}}.addEventListener('input', () => {
            currentTimeContainer{{content['_id']}}.textContent = calculateTime{{content['_id']}}(seekSlider{{content['_id']}}.value);
            if(!audio{{content['_id']}}.paused) {
                cancelAnimationFrame(raf{{content['_id']}});
            }
        });

        seekSlider{{content['_id']}}.addEventListener('change', () => {
            audio{{content['_id']}}.currentTime = seekSlider{{content['_id']}}.value;
            if(!audio{{content['_id']}}.paused) {
                requestAnimationFrame(whilePlaying{{content['_id']}});
            }
        });

        audio{{content['_id']}}.addEventListener("ended", function(){
             audio{{content['_id']}}.currentTime = 0;
             playState{{content['_id']}} = '<i class="fas fa-pause"></i>';
             playIconContainer{{content['_id']}}.innerHTML = '<i class="fas fa-play"></i>';
             audio{{content['_id']}}.pause();
             cancelAnimationFrame(raf{{content['_id']}});
             seekSlider{{content['_id']}}.value = 0;
        });
      </script>
      {%elif content['image'] != '' %}
        <a download="{{content['image']}}.png" href="/DL_file/{{content['image']}}/image/"><img src="{{url_for('image', imageName=content['image'])}}" style="height: 250px; width: auto; "/><br></a>
        {{content['contenu']}}
      {%else%}
        {{content['contenu']|safe}}
      {%endif%}
      <!--On affiche le contenu du message -->
    </p>
    <p class="date" style="align-self: flex-end;margin:0px;text-align:right;font-size:12px;margin-top:1%;">le {{content['date-envoi'].day}}/{{content['date-envoi'].month}} à {{content['date-envoi'].hour}}h{{content['date-envoi'].minute}}</p>
  </div>
