.bandeau{
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #b2acfa;
  padding: 2%;
  position: fixed;
  top: 0px;
  left: 0px;
  right:0px;
  height: 5%;
  z-index: 20;
}
#page{
  margin-top: 7%;
}
#filtre{
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background:rgba(0,0,0,0.6);
  z-index: 1;
}
.menu{
  z-index:20;
}
.ligne{
  display: flex;
  align-items: center;
  padding-bottom: 10%;
}
.ligne:hover{
  cursor: pointer;
  font-weight: bold;
  color:#7266f6;
}
.iconemenu{
  width: 20px;
  height:auto;
  margin-right: 5px;
}
.iconeparametre{
  width: 25px;
  height:auto;
  bottom: 20px;
  position: fixed;
}
.iconeparametre:hover{
  cursor: pointer;
}
.nouvnotif{
  color: red;
  font-weight: bold;
  margin:0px;
  font-size: 30px;
}
#multichoix{
  top: 0px;
  left:0;
  display: none;
  position: fixed;
  background: #c3cfd9;
  padding-top: 3%;
  padding-left:2%;
  height: 100%;
  color: black;
  padding-right: 4%;
  text-align: left;
  margin-top: 7%;
  z-index: 20;
  width: 175px;
}
#notif{
  top: 0px;
  right:0;
  display: none;
  position: fixed;
  background: #c3cfd9;
  padding-top: 3%;
  padding-left:2%;
  height: 100%;
  color: black;
  padding-right: 4%;
  text-align: left;
  margin-top: 7%;
  z-index: 20;
  min-width: 15%;
}
.titremenu{
  color: black;
  text-decoration: none;
}
.profil{
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profilmessage{
  display: flex;
  align-items: center;
  height: 5%;
}
progress{
  max-width: 75%;
}
.iconebandeau{
  width: 25px;
  height:auto;
}
.iconebandeau:hover{
  cursor: pointer;
}
.persopubli{
  width: 30px;
  height:auto;
}
.iconereaction{
  width: 20px;
  height:auto;
  margin-left: 2%;
}
.iconereaction{
  cursor: pointer;
}
.pub{
  display: flex;
  align-items: center;
  margin-left: 3%;
}
.notif1{
  display: flex;
  align-items: center;
}
.contentpub{
  vertical-align: middle;
  border: 1px solid #E4E3E4;
  padding:1%;
  margin:2%;
  min-width: 30%;
  background-color: #dfe6ed;
}
.contentnotif{
  vertical-align: middle;
  border: 1px solid #E4E3E4;
  padding:3%;
  margin:2%;
  min-width: 80%;
  background-color: #dfe6ed;
}
h2{
  margin:1%;
}
.imagepublication{
  align-items: center;
  text-align: center;
}

.ligne1profil{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.photoprofil{
  display: flex;
  align-items: center;
}
.iconeinfoprofil{
  width: 25px;
  height:auto;
}
.contentinfoprofil{
  display: flex;
  align-items: center;
  justify-content:space-between;
  margin-left: 35%;
  margin-right: 35%;
}
.themeligne{
  display: flex;
  align-items: center;
}
.liengroupe{
  color: black;
  text-decoration: none;
}
.liengroupe:hover{
  cursor: pointer;
  font-weight: bold;
}
.contentmessage{
  display: flex;
  justify-content:space-between;
  height:95%;
  margin-top: 5%;
}
#nomgroupe{
  width: 15%;
  margin-left: 5%;
  overflow-y:auto;
}
.groupe{
  margin-bottom: 5%;
  font-size: 20px;
}
.titregroupe{
  display: flex;
  align-items: center;
  justify-content:space-between;
  border: 1px solid black;
  padding:2%;
  height:10%;
}
#titreetmsg{
  margin-right: 2%;
  margin-bottom:2%;
}
.messages{
  height:80%;
  border: 1px solid black;
  padding:2%;
}
.barreenvoi{
  height:10%;
  display: flex;
  align-items: center;
  justify-content:center;
  margin-top:3%;
  min-width: 75%;
  max-width: 75%;
}
.iconebarremsg{
  width: 20px;
  height:auto;
  margin-left: 2%;
}
.iconebarremsg:hover{
  cursor: pointer;
}
.participantmsg{
  margin-left: 5%;
  margin-right: 55%;
  margin-bottom: 2%;
  border-radius: 20px;
  padding: 2%;
  padding-left: 3%;
  padding-right: 3%;
}
.moimsg{
  margin-left: 55%;
  margin-right: 5%;
  margin-bottom: 2%;
  border-radius: 10px;
  padding-top: 3%;
  padding-left: 3%;
  padding-right: 3%;
  padding-bottom: 2%;
  border: 1px solid grey;
}
