/* style scrollbar */
::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: #E3E4E3;
}
::-webkit-scrollbar-thumb:hover {
  background: #e9ebe9;
}
#couleur{
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border: none;
    outline: none;
    -webkit-appearance: none;
}

#couleur::-webkit-color-swatch-wrapper {
    padding: 0;
}
#couleur::-webkit-color-swatch {
    border: none;
    border-radius: 100%;
}
/* Pour telephone */
@media screen and (max-width:1023px){
  .telRecherche, .boutonPubliTel, .selectMatiereTel, .inputfileAndLikeTel, .ordiFlexTelBlock, .questionNavbarTel{
    display:block;
  }
  .formOrdi, .boutonPubliOrdi, .selectMatiereOrdi, .inputfileAndLikeOrdi, .questionNavbarOrdi, .key4schoolNavbar, .flecheFiltre{
    display:none;
  }
  .selectProfil{
    max-width: 50%;
  }
  .boxAdmin{
    padding:3%;
    margin-right:2%;
  }
  .divQuestion{
    margin: 0% 2%;
  }
  .logo{
    height: 40px;
    width: 40px;
    margin-top: 13%;
    margin-left: 13%;
  }
  .filtreTelOrdi{
    width: 100%;
    overflow-x: auto;
    overflow-y: hidden;
  }
  #filters-container::-webkit-scrollbar {
    display: none;
  }
  .listeMatiereFiltre{
    width: 100%;
  }
  .maillogoNom{
    margin-right: 23%;
  }
}
/* Pour ordinateur */
@media screen and (min-width:1023px){
  .telRecherche, .boutonPubliTel, .selectMatiereTel, .inputfileAndLikeTel, .questionNavbarTel{
    display:none;
  }
  .formOrdi, .boutonPubliOrdi, .inputfileAndLikeOrdi, .ordiFlexTelBlock, .key4schoolNavbar{
    display:flex;
  }
  .selectMatiereOrdi, .questionNavbarOrdi, .flecheFiltre{
    display:block;
  }
  .ChoixCouleur{
    margin-top: 24%;
    margin-right: 5%;
  }
  .selectProfil{
    max-width: 30%;
  }
  .boxAdmin{
    padding:1%;
    margin-left:20%;
    margin-right:20%;
  }
  .logo{
    width:40px;
    height:40px;
    margin-left:5%;
    margin-right:5%;
    margin-top:5%;
  }
  .navbarStart{
    margin-right: 14%;
  }
  .listeMatiereFiltre{
     width: calc(100% - 100px);
  }
}
